.com-dpcalendar-eventform {
	@import "../../layouts/block/radio";
	@import "../../layouts/block/tabs";
	@import "../../layouts/block/info-box";
	@import "../../layouts/block/button";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/toggle";
	@import "../../layouts/block/heading";
	@import "../../layouts/block/input";
	@import "../../layouts/block/form";
	@import "../../layouts/block/timezone";
	@import "../../layouts/block/autocomplete";
	@import "../../vendor/choices";

	clear: both;

	&__location .dp-map {
		width: 100%;
		height: 200px
	}

	&__location-form,
	&__overlapping {
		display: none;
	}

	.dp-event-template {
		border-right: 1px solid rgba(0, 0, 0, .2);
		border-left: 1px solid rgba(0, 0, 0, .2);
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		padding: 10px;

		display: none;

		&__event:not(:last-child) {
			display: block;
			margin: 5px 0 10px 0;
			padding-bottom: 5px;
			border-bottom: 1px solid rgba(0, 0, 0, .2);
		}
	}

	.dp-free-information-text {
		display: block;
		color: red
	}

	.dp-toggle {
		display: inline-block;
	}

	.dp-datepicker, .dp-timepicker {
		max-width: 100px !important;
	}

	#jform_scheduling_end_date_time {
		display: none;
	}

	&__location-form {
		border: 1px solid #c0c0c0;
		padding: 10px;
	}
}

@import "../../vendor/pikaday";
