@media screen and (max-width: 767px) {
	display: block;

	> div:not(.com-dpcalendar-event__image),
	.dp-figure__caption {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&__actions, &__cta {
		padding: 1rem;
	}

	&__description {
		padding: 2.5rem 1rem;
	}

	.dp-description {
		&__label {
			float: none;
			width: 100%;
		}

		&__description {
			margin-left: 0;
		}
	}
}
