.mod-dpcalendar-upcoming-timeline .dp-figure {
	text-align: center;
	margin: 0;
}

.mod-dpcalendar-upcoming-timeline .dp-figure__caption {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.mod-dpcalendar-upcoming-timeline .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.mod-dpcalendar-upcoming-timeline {
	clear: both;
	overflow: overlay;
}

.mod-dpcalendar-upcoming-timeline__event {
	display: block;
	overflow: hidden;
}

.mod-dpcalendar-upcoming-timeline__event + div {
	margin-top: .7rem;
}

.mod-dpcalendar-upcoming-timeline__group {
	margin-bottom: 1rem;
}

.mod-dpcalendar-upcoming-timeline__heading.dp-group-heading {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.05);
	padding: .5rem .7rem;
	margin-bottom: .7rem;
}

.mod-dpcalendar-upcoming-timeline__heading.dp-group-heading ~ div {
	margin-left: .7rem;
	margin-right: .7rem;
}

.mod-dpcalendar-upcoming-timeline .dp-link_cta {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
}

.mod-dpcalendar-upcoming-timeline .dp-link_cta.dp-button {
	background-color: #2D9EDE;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	border: 0;
}

.mod-dpcalendar-upcoming-timeline__date {
	font-style: italic;
	padding: 2px 0;
}

.mod-dpcalendar-upcoming-timeline__rrule, .mod-dpcalendar-upcoming-timeline__price {
	font-style: italic;
	padding: 2px 0;
}

.mod-dpcalendar-upcoming-timeline .dp-figure {
	width: 100%;
}

.mod-dpcalendar-upcoming-timeline .dp-figure .dp-image {
	width: 100%;
	object-fit: cover;
	height: 100px;
}

.mod-dpcalendar-upcoming-timeline .dp-figure__caption {
	opacity: .7;
}

.mod-dpcalendar-upcoming-timeline .dp-location__description {
	display: none;
}

.mod-dpcalendar-upcoming-timeline__map {
	margin-top: 5px;
}

.mod-dpcalendar-upcoming-timeline .dp-figure {
	text-align: center;
	margin: 0;
}

.mod-dpcalendar-upcoming-timeline .dp-figure__caption {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.mod-dpcalendar-upcoming-timeline .mod-dpcalendar-upcoming-panel__events {
	position: relative;
	margin: 10px;
	padding: 0px;
}

.mod-dpcalendar-upcoming-timeline::before {
	content: "";
	width: 3px;
	height: 100%;
	background: #e1e1e1;
	left: 0;
	top: 10px;
	position: absolute;
}

.mod-dpcalendar-upcoming-timeline__event {
	display: flex;
	overflow: visible;
	position: relative;
	margin-bottom: 30px;
}

.mod-dpcalendar-upcoming-timeline__dot {
	background: #e1e1e1;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 9px;
	left: 0;
	overflow: hidden;
	margin-left: -8px;
	border-radius: 50%;
}

.mod-dpcalendar-upcoming-timeline__information {
	position: relative;
	background: #fff;
	padding: 15px;
	margin-left: 31px;
	box-shadow: 0 0 2px rgba(52, 58, 67, 0.1), 0 2px 5px rgba(52, 58, 67, 0.08), 0 5px 15px rgba(52, 58, 67, 0.08);
	transition: all 0.3s ease;
}

.mod-dpcalendar-upcoming-timeline__title {
	position: relative;
	padding: 10px 15px;
	margin: -15px -15px 10px;
}

.mod-dpcalendar-upcoming-timeline__title::before {
	content: '';
	position: absolute;
	top: 13px;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -6px;
	background-color: inherit;
	box-shadow: -3px 3px 2px rgba(52, 58, 67, 0.05);
	transform: rotate(45deg);
}

.mod-dpcalendar-upcoming-timeline__heading.dp-group-heading {
	position: relative;
	top: 10px;
	margin-bottom: 30px;
	margin-left: 3px;
	text-align: right;
}

.mod-dpcalendar-upcoming-timeline__heading.dp-group-heading ~ div {
	margin-left: 0;
	margin-right: 0;
}

/*# sourceMappingURL=timeline.css.map */