.com-dpcalendar-ticket {
	.dp-qrcode {
		text-align: center;

		&__image {
			width: 150px;
			height: 150px
		}
	}

	@import "../../misc/print";
	@import "../../layouts/block/heading";
	@import "../../layouts/block/button";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/description";
	@import "../../layouts/block/timezone";
}
