.com-dpcalendar-list__form_hidden {
	display: none;
}

.com-dpcalendar-list__actions.dp-button-bar {
	text-align: center;
}

.com-dpcalendar-list .dp-button-bar {
	overflow: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.com-dpcalendar-list .dp-button-bar__navigation {
	float: left;
}

.com-dpcalendar-list .dp-button-bar__title {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 0;
	font-size: 19.5px;
	font-weight: 200;
}

.com-dpcalendar-list .dp-button-bar__actions {
	float: right;
}

.com-dpcalendar-list__button-bar.dp-button-bar {
	display: block;
}

.com-dpcalendar-list__form-container {
	margin: 0 -5px;
	display: flex;
	flex-wrap: wrap;
}

.com-dpcalendar-list__form-container > div {
	display: flex;
	flex: 1 1 260px;
	margin: 0 5px 10px;
}

.com-dpcalendar-list__form-container .dp-input,
.com-dpcalendar-list__form-container .dp-select {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
}

.com-dpcalendar-list__date-search .dp-datepicker {
	flex: 1 0 0;
}

.com-dpcalendar-list__date-search .dp-datepicker-start-date {
	margin-right: 10px;
}

.com-dpcalendar-list__date-search input + input,
.com-dpcalendar-list__radius-search select + select {
	margin-left: 10px;
}

@media screen and (max-width: 540px) {
	.com-dpcalendar-list .dp-button-bar {
		flex-direction: column;
	}
	.com-dpcalendar-list .dp-button-bar > div {
		margin: 4px auto;
	}
}

.com-dpcalendar-list .dp-event {
	overflow: hidden;
}

.com-dpcalendar-list .dp-event__title {
	display: flex;
	align-items: center;
	margin-right: 5px;
	font-weight: bold;
}

.com-dpcalendar-list .dp-event__title_canceled {
	margin-right: 5px;
}

.com-dpcalendar-list .dp-event__title-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 5px;
}

.com-dpcalendar-list .dp-event .dp-link_cta {
	margin-top: 10px;
	padding: 5px 20px;
}

.com-dpcalendar-list .dp-event .dp-link_cta.dp-button {
	background-color: #2D9EDE;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	border: 0;
}

.com-dpcalendar-list .dp-event__actions, .com-dpcalendar-list .dp-event__date, .com-dpcalendar-list .dp-event__rrule, .com-dpcalendar-list .dp-event__calendar, .com-dpcalendar-list .dp-event__capacity, .com-dpcalendar-list .dp-event__price, .com-dpcalendar-list .dp-event__hits, .com-dpcalendar-list .dp-event__locations {
	margin-right: 1rem;
	display: inline-flex;
	flex-wrap: wrap;
}

.com-dpcalendar-list .dp-event__actions .dp-icon, .com-dpcalendar-list .dp-event__date .dp-icon, .com-dpcalendar-list .dp-event__rrule .dp-icon, .com-dpcalendar-list .dp-event__calendar .dp-icon, .com-dpcalendar-list .dp-event__capacity .dp-icon, .com-dpcalendar-list .dp-event__price .dp-icon, .com-dpcalendar-list .dp-event__hits .dp-icon, .com-dpcalendar-list .dp-event__locations .dp-icon {
	margin-right: 5px;
}

.com-dpcalendar-list .dp-event .dp-location {
	display: inline-flex;
}

.com-dpcalendar-list .dp-event .dp-location__description {
	display: none;
}

.com-dpcalendar-list .dp-event .dp-location__separator {
	margin-right: 5px;
}

@media screen and (max-width: 640px) {
	.com-dpcalendar-list .dp-event .dp-link_cta {
		float: none;
		text-align: center;
		width: 100%;
		display: block;
		margin: 10px 0;
	}
}

.com-dpcalendar-list .dp-autocomplete {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0;
	background-color: #ffffff;
	z-index: 1001;
	max-height: 220px;
	overflow-y: auto !important;
	display: none;
}

.com-dpcalendar-list .dp-autocomplete__result {
	margin: 0;
	padding: 5px 10px;
	display: block;
}

.com-dpcalendar-list .dp-autocomplete__result:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.com-dpcalendar-list .dp-autocomplete__result_selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.com-dpcalendar-list .dp-button-bar {
	margin-bottom: 10px;
}

.com-dpcalendar-list .dp-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #c0c0c0;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 4px 10px;
	margin: 3px 0;
	color: #212529;
	background-color: #fefefe;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.com-dpcalendar-list .dp-button:disabled,
.com-dpcalendar-list .dp-button[disabled] {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.com-dpcalendar-list .dp-datepicker {
	display: inline-flex;
}

.com-dpcalendar-list .dp-datepicker__input {
	border-right: 0px;
	margin-right: -2px;
}

.com-dpcalendar-list .dp-datepicker__button {
	margin: 0;
}

.com-dpcalendar-list .dp-figure {
	text-align: center;
	margin: 0;
}

.com-dpcalendar-list .dp-figure__caption {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.com-dpcalendar-list .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.com-dpcalendar-list .dp-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.com-dpcalendar-list .dp-list > li {
	border-bottom: 1px solid #dddddd;
	padding: 1em 1em;
}

.com-dpcalendar-list .dp-list > li:first-child {
	border-top: 1px solid #dddddd;
}

.com-dpcalendar-list .dp-list > li:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.com-dpcalendar-list .dp-event-tooltip {
	text-align: left;
	font-size: 12px;
}

.com-dpcalendar-list .dp-event-tooltip .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.com-dpcalendar-list .dp-event-tooltip__link {
	margin-right: .4rem;
	color: #42a1ff;
}

.com-dpcalendar-list .dp-event-tooltip__actions {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 5px;
	padding-top: 4px;
	color: #fff;
}

.com-dpcalendar-list .dp-event-tooltip__action {
	color: #fff;
	padding: 2px;
	opacity: .85;
}

.com-dpcalendar-list .dp-event-tooltip__action:hover {
	color: #fff;
	opacity: 1;
	text-decoration: none;
}

.com-dpcalendar-list .dp-timezone {
	display: flex;
	align-items: center;
}

.com-dpcalendar-list .dp-timezone .choices {
	font-size: inherit;
}

.com-dpcalendar-list .dp-timezone .choices__inner, .com-dpcalendar-list .dp-timezone .choices__input {
	min-height: unset;
	padding: 0 !important;
	background-color: inherit;
	font-size: inherit;
}

.com-dpcalendar-list .dp-timezone .choices__input, .com-dpcalendar-list .dp-timezone .choices__input:focus {
	border: 0 !important;
	box-shadow: unset;
}

.com-dpcalendar-list .dp-timezone .choices__list--multiple .choices__item {
	margin: 3px;
	padding: 2px 10px;
	border-radius: 2px;
	background-color: #2D9EDE;
	border: 1px solid #1d82bb;
	color: #000;
}

.com-dpcalendar-list .dp-timezone .choices__list--dropdown {
	z-index: 1001;
}

.com-dpcalendar-list .dp-timezone .choices__list--dropdown .choices__item {
	padding: 3px;
}

.com-dpcalendar-list .dp-timezone .choices__button {
	background-image: url("../../../../images/icons/times-solid.svg") !important;
}

.com-dpcalendar-list .dp-timezone__label {
	font-weight: bold;
	margin-right: 10px;
}

.com-dpcalendar-list .dp-timezone .choices {
	min-width: 300px;
	margin: 0;
}

.com-dpcalendar-list .dp-map_consent {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	border: 1px solid #b2b2b2;
	background-color: #f2f2f2;
	cursor: pointer;
}

@media print {
	.com-dpcalendar-list .dp-print-hide {
		display: none !important;
	}
	.com-dpcalendar-list a:link:after, .com-dpcalendar-list a:visited:after {
		display: none;
		content: "";
	}
	.com-dpcalendar-list dt {
		float: left !important;
		margin: 0 !important;
		padding: 0 !important;
		max-width: 150px;
		min-width: 150px;
	}
	.com-dpcalendar-list dd {
		float: left !important;
		margin: 0 0 0 5px !important;
		padding: 0 !important;
		max-width: 350px;
	}
}

.com-dpcalendar-list__map {
	margin-bottom: 10px;
}

.com-dpcalendar-list__map .dp-icon {
	color: #000;
}

.com-dpcalendar-list .dp-event__title {
	position: relative;
	margin: 0 0 10px 0;
}

.com-dpcalendar-list .dp-event__image {
	float: right;
	padding: 0 10px;
}

.com-dpcalendar-list .dp-event__image .dp-image {
	width: 150px;
	height: 50px;
	object-fit: cover;
}

@media screen and (max-width: 640px) {
	.com-dpcalendar-list .dp-event__image {
		float: none;
	}
	.com-dpcalendar-list .dp-event__image .dp-image, .com-dpcalendar-list .dp-event .dp-figure {
		width: 100%;
		max-height: 150px;
		object-fit: cover;
	}
}

/*# sourceMappingURL=default.css.map */