.com-dpcalendar-profile {
	.dp-sharing-users .dp-select {
		margin-bottom: 15px;
	}

	&__form {
		overflow: auto;

		.dp-form__search {
			float: left;

			.dp-input-text {
				margin-bottom: 0;
			}
		}

		.dp-form__limit {
			float: right;
		}
	}

	.dp-davcalendar__color {
		width: 20px;
		height: 15px;
		display: inline-block;
	}

	.dp-davcalendar__title {
		font-weight: bold;
		margin-right: 5px;
	}

	@import "events";
	@import "../../misc/print";
	@import "../../layouts/block/button";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/list";
	@import "../../layouts/block/heading";
	@import "../../layouts/block/timezone";
}
