.com-dpcalendar-calendar {
	@import "quickadd";
	@import "../../vendor/fullcalendar";
	@import "../../layouts/block/timezone";
	@import "../../layouts/block/loader";
	@import "../../layouts/block/toggle";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/calendar-icons";
	@import "../../layouts/block/autocomplete";

	.fc-header-toolbar h2 {
		padding: 4px 15px 0;
	}

	&__list {
		overflow: hidden;

		&_hidden {
			display: none;
		}

		& .dp-description__label {
			display: flex;
		}

		// Checkbox position
		& .dp-input {
			-webkit-appearance: none;
			-moz-appearance: none;
			position: relative;
			width: 1.4em;
			height: 1.4em;
			margin: 0 5px 0 0;
			border-width: 2px;
			border-style: solid;

			&::before {
				content: "✔";
				position: absolute;
				font-size: 1.2em;
				right: 0;
				top: -0.1em;
				visibility: hidden;
			}

			&:checked::before {
				visibility: visible;
			}

			&:not(:checked) {
				background-color: inherit !important;
			}
		}
	}

	&_printable {
		width: 900px !important;
		margin: 0 auto 10px auto;
	}

	.dp-toggle {
		text-align: center;
		clear: both;
		width: 100%;
	}
}

@import "../../layouts/event/tooltip";
@import "../../vendor/tippy";
@import "../../vendor/tingle";
@import "../../vendor/pikaday";
