.mod-dpcalendar-mini .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.mod-dpcalendar-mini .dp-loader {
	position: relative;
	width: 100%;
	height: 0;
}

.mod-dpcalendar-mini .dp-loader::before {
	content: '';
	position: absolute;
	right: 100%;
	left: 0;
	bottom: 2px;
	z-index: 10;
	height: 4px;
	background-color: #2d9ede;
	animation: 12s 0s normal none 1 running calendarLoader;
	animation-fill-mode: forwards;
	animation-timing-function: cubix-bezier(0, 1, 0, 1);
	animation-iteration-count: infinite;
}

.mod-dpcalendar-mini .dp-loader_hidden::before {
	display: none;
}

@keyframes calendarLoader {
	0% {
		right: 100%;
	}
	50% {
		right: 6%;
		animation-timing-function: linear;
	}
	100% {
		right: 1%;
	}
}

.mod-dpcalendar-mini .dp-toggle {
	cursor: pointer;
}

.mod-dpcalendar-mini .dp-toggle_hidden {
	display: none;
}

.mod-dpcalendar-mini .fc-timelineYear-view .fc-time-area col {
	min-width: 100px;
}

.mod-dpcalendar-mini .fc-timelineMonth-view .fc-time-area col {
	min-width: 100px;
}

.mod-dpcalendar-mini .fc-timelineWeek-view .fc-time-area col {
	min-width: 150px;
}

.mod-dpcalendar-mini .fc-timelineDay-view .fc-time-area col {
	min-width: 100px;
}

.mod-dpcalendar-mini .fc-event {
	border-radius: 0;
}

.mod-dpcalendar-mini .fc-event .dp-event__time {
	margin-right: 5px;
	font-weight: bold;
}

.mod-dpcalendar-mini .fc-event span {
	overflow-wrap: break-word;
	white-space: normal;
}

.mod-dpcalendar-mini .fc-event .dp-event__capacity {
	display: flex;
	align-items: center;
}

.mod-dpcalendar-mini .fc-event .dp-event__capacity-icon {
	width: 1em;
	height: 1em;
	margin-right: 5px;
}

.mod-dpcalendar-mini .fc-event .fc-list-event-title .dp-event__capacity {
	float: right;
}

.mod-dpcalendar-mini .fc-bgevent-skeleton {
	pointer-events: none;
}

.mod-dpcalendar-mini .fc-bgevent-skeleton .fc-bgevent {
	pointer-events: auto;
	cursor: pointer;
}

.mod-dpcalendar-mini .fc-header-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mod-dpcalendar-mini .fc-header-toolbar h2 {
	font-size: 19.5px;
	font-weight: 200;
}

.mod-dpcalendar-mini .fc .fc-button-primary {
	padding: 5px;
	border: 1px solid #c0c0c0;
	border-radius: .1rem;
	font-weight: 400;
	background-color: #fefefe;
	color: #000;
	background-image: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mod-dpcalendar-mini .fc .fc-button-primary.fc-corner-right {
	border-top-right-radius: .1rem;
	border-bottom-right-radius: .1rem;
}

.mod-dpcalendar-mini .fc .fc-button-primary.fc-corner-left {
	border-top-left-radius: .1rem;
	border-bottom-left-radius: .1rem;
}

.mod-dpcalendar-mini .fc .fc-button-primary:not(:disabled):active:focus, .mod-dpcalendar-mini .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.mod-dpcalendar-mini .fc-icon span {
	opacity: .8;
}

.mod-dpcalendar-mini .fc-icon span svg {
	width: 0.8em;
}

.mod-dpcalendar-mini .fc-icon-chevron-left::before,
.mod-dpcalendar-mini .fc-icon-chevron-right::before {
	content: '';
}

.mod-dpcalendar-mini .fc-button-group .fc-button {
	border-radius: .1rem;
}

.mod-dpcalendar-mini .fc-button-group .fc-button + .fc-button {
	margin-left: 3px !important;
}

@media screen and (max-width: 540px) {
	.mod-dpcalendar-mini .fc-header-toolbar {
		flex-direction: column;
	}
	.mod-dpcalendar-mini .fc-header-toolbar > div {
		margin: 4px auto;
	}
	.mod-dpcalendar-mini .fc-header-toolbar > * > * {
		float: none;
	}
}

.mod-dpcalendar-mini_compact .fc-daygrid-day-top {
	justify-content: center;
}

.mod-dpcalendar-mini_compact .fc-daygrid-day-events {
	display: none;
}

.mod-dpcalendar-mini__icons {
	display: none;
}

.dp-event-tooltip {
	text-align: left;
	font-size: 12px;
}

.dp-event-tooltip .dp-badge, .dp-event-tooltip .dp-event-tooltip_canceled, .dp-event-tooltip .dp-event-tooltip_unpublished {
	display: inline-block;
	padding: .25em;
	font-size: 70%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	border-radius: .2rem;
}

.dp-event-tooltip .dp-badge_warning, .dp-event-tooltip .dp-event-tooltip_unpublished {
	color: #212529;
	background-color: #ffc107;
}

.dp-event-tooltip .dp-badge_info, .dp-event-tooltip .dp-event-tooltip_canceled {
	color: #212529;
	background-color: #0dcaf0;
}

.dp-event-tooltip .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.dp-event-tooltip__link {
	margin-right: .4rem;
}

.dp-event-tooltip__actions {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 5px;
	padding-top: 4px;
}

.dp-event-tooltip__action {
	padding: 2px;
	opacity: .85;
}

.dp-event-tooltip__action:hover {
	opacity: 1;
	text-decoration: none;
}

.dp-event-tooltip__capacity {
	margin-right: 5px;
}

.tippy-tooltip {
	padding: .4rem;
	max-width: 200px;
}

.tingle-modal {
	z-index: 1001 !important;
}

.tingle-modal .dp-button-bar {
	margin-bottom: 10px;
}

.tingle-modal .dp-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #c0c0c0;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 4px 10px;
	color: #212529;
	background-color: #fefefe;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tingle-modal .dp-button:disabled,
.tingle-modal .dp-button[disabled] {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.tingle-modal-box__content {
	padding: 1rem;
}

.tingle-modal-box__footer .dp-button {
	margin-right: 10px;
}

.dp-events-list {
	text-align: left;
	font-size: 12px;
}

/*# sourceMappingURL=default.css.map */