.com-dpcalendar-bookingform {
	@import "../../misc/variables";
	@import "../../layouts/block/button";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/form";
	@import "../../layouts/block/input";
	@import "../../layouts/block/table";
	@import "../../layouts/block/loader";
	@import "../../layouts/block/info-box";
	@import "../../layouts/block/radio";
	@import "../../layouts/block/timezone";

	&__payment-options {
		display: none;
		padding: 10px 0;
	}

	.dp-payment-option {
		padding: 10px 30px 10px 30px;
		border: 2px solid #EEE;
		margin-bottom: 10px;

		&:hover {
			background-color: #dff0d8;
			cursor: pointer;
		}

		&__input {
			display: none;
		}
	}

	.dp-events-list {
		max-height: 500px;
		overflow: auto;
		margin-bottom: 10px;

		.dp-table thead {
			background-color: $dpColor;
			color: #000000;
		}

		.dp-table td, .dp-table th {
			border-left-width: 0 !important;
		}
	}

	.dp-event_instance {
		display: none;
	}

	.dp-ticket,
	.dp-option {
		& td {
			white-space: nowrap;
		}

		&__amount select {
			max-width: 50px
		}

		&__title {
			width: 100%;
			text-align: left !important;
		}

		&__price,
		&__calculated-price {
			text-align: right !important;
		}

		&__price-info {
			cursor: pointer;
		}
	}

	.dp-price {
		&__live {
			text-align: right;
		}

		&__original {
			text-decoration: line-through;
			text-align: right;
		}

		&_hidden {
			display: none;
		}
	}

	.dp-price-total {
		text-align: right;
		font-weight: bold;
		border-top: 1px solid #EEE;
		border-bottom: 1px solid #EEE;
		padding: 10px 0px 10px 0px;
		margin: 10px 0px 10px 0px;
		width: 100%;
	}
}
