.mod-dpcalendar-counter {
	@import "../../../com_dpcalendar/media/scss/layouts/block/figure";

	&__ongoing {
		overflow: hidden;
	}

	&__intro-text {
		margin-bottom: 10px;
	}

	.dp-counter-block {
		display: inline-block;
		margin-bottom: 10px;

		&:not([style*="display: none;"]):not(:last-child) {
			padding-right: 10px;
		}

		&__number {
			display: block;
			font-size: 1.4em;
		}

		&__content {
			display: block;
			font-size: .9em;
		}

		&_empty {
			display: none;
		}
	}
}
