.com-dpcalendar-tickets {
	@import "../../misc/print";
	@import "../../layouts/block/button";
	@import "../../layouts/block/table";
	@import "../../layouts/block/timezone";
	@import "../../layouts/block/icon";

	.dp-form {
		&__search,
		&__buttons {
			float: left;
		}

		&__limit {
			float: right;
		}
	}
	.dp-pagination {
		&__counter,
		&__links {
			float: left;
			margin-right: 5px;
		}
	}
}
