.com-dpcalendar-locations {
	@import "../../vendor/fullcalendar";
	@import "../../layouts/block/button";
	@import "../../layouts/block/heading";
	@import "../../layouts/block/description";
	@import "../../layouts/block/loader";
	@import "../../layouts/block/timezone";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/calendar-icons";
	@import "../../layouts/block/location-links";

	.dp-event {
		padding-left: 5px;
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
		border-left: 5px solid;
	}

	.dp-map {
		margin-top: 10px;
	}

	.dp-calendar {
		.fc-timelineYear-view .fc-time-area col {
			min-width: 100px;
		}

		.fc-timelineMonth-view .fc-time-area col {
			min-width: 100px;
		}

		.fc-timelineWeek-view .fc-time-area col {
			min-width: 150px;
		}

		.fc-timelineDay-view .fc-time-area col {
			min-width: 100px;
		}
	}
}

@import "../../layouts/event/tooltip";
@import "../../vendor/tippy";
@import "../../vendor/pikaday";
