.com-dpcalendar-events .dp-table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
	width: 100%;
}

.com-dpcalendar-events .dp-table caption {
	color: #000;
	padding: 1em 0;
	text-align: center;
}

.com-dpcalendar-events .dp-table td,
.com-dpcalendar-events .dp-table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.4em 1em;
	text-align: center;
}

.com-dpcalendar-events .dp-table td:first-child,
.com-dpcalendar-events .dp-table th:first-child {
	border-left-width: 0;
}

.com-dpcalendar-events .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}

.com-dpcalendar-events .dp-table td {
	background-color: transparent;
}

.com-dpcalendar-events .dp-table .dp-cell-price {
	text-align: right;
}

.com-dpcalendar-events .dp-table-odd td {
	background-color: #f2f2f2;
}

.com-dpcalendar-events .dp-table tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

.com-dpcalendar-events .dp-table td, .com-dpcalendar-events .dp-table th {
	border-bottom: 1px solid #cbcbcb;
}

.com-dpcalendar-events .dp-table tbody > tr:last-child {
	border-bottom-width: 0;
}

@media screen and (max-width: 767px) {
	.com-dpcalendar-events .dp-table,
	.com-dpcalendar-events .dp-table thead,
	.com-dpcalendar-events .dp-table tbody,
	.com-dpcalendar-events .dp-table th,
	.com-dpcalendar-events .dp-table td,
	.com-dpcalendar-events .dp-table tr {
		display: block;
	}
	.com-dpcalendar-events .dp-table thead {
		display: none;
	}
	.com-dpcalendar-events .dp-table tr {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.com-dpcalendar-events .dp-table td {
		border: none;
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.com-dpcalendar-events .dp-table td:before {
		content: attr(data-column);
		position: absolute;
		left: 10px;
		padding-right: 10px;
		font-weight: bold;
	}
	.com-dpcalendar-events .dp-table td,
	.com-dpcalendar-events .dp-table th {
		box-sizing: border-box;
		border-bottom: 0;
		text-align: left !important;
	}
	.com-dpcalendar-events .dp-table td > div,
	.com-dpcalendar-events .dp-table th > div {
		text-align: left;
	}
}

.com-dpcalendar-events .dp-event-list__filterbar {
	float: left;
	margin-right: 5px;
}

.com-dpcalendar-events td.dp-events-table__col-title {
	width: 30%;
	text-align: left;
}

.com-dpcalendar-events .dp-events-table {
	border: 0;
}

.com-dpcalendar-events .dp-events-table__col-state, .com-dpcalendar-events .dp-events-table__col-color {
	width: 1%;
}

.com-dpcalendar-events .dp-events-table__col-date {
	width: 15%;
}

.com-dpcalendar-events .dp-events-table td, .com-dpcalendar-events .dp-events-table th {
	border-left: 0;
}

.com-dpcalendar-events-modal .dp-link {
	cursor: pointer;
}

.com-dpcalendar-events .modal-body {
	padding: 20px;
}

.pika-single th,
.pika-single td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
	border-color: #ddd;
}

.pika-single button {
	text-align: center;
}

/*# sourceMappingURL=default.css.map */
