// Event styling
@import "../../misc/variables";

.dp-event {
	overflow: hidden;

	&__title {
		font-weight: bold;
		margin-right: 5px;
	}

	.dp-link_cta {
		margin-top: 10px;
		padding: 5px 20px;

		&.dp-button {
			background-color: $dpColor;
			font-weight: bold;
			text-transform: uppercase;
			color: #000000;
			border: 0;
		}
	}

	&__actions,
	&__date,
	&__rrule,
	&__calendar,
	&__capacity,
	&__price,
	&__hits,
	&__locations {
		margin-right: 1rem;
		display: inline-block;
	}

	.dp-location__description {
		display: none
	}

	@media screen and (max-width: 640px) {
		.dp-link_cta {
			float: none;
			text-align: center;
			width: 100%;
			display: block;
			margin: 10px 0;
		}
	}
}
