.com-dpcalendar-list {
	@import "_form";
	@import "_events";
	@import "../../misc/print";
	@import "../../layouts/event/tooltip";
	@import "../../layouts/block/figure";
	@import "../../layouts/block/button";
	@import "../../layouts/block/icon";
	@import "../../layouts/block/list";
	@import "../../layouts/block/timezone";
	@import "../../layouts/block/autocomplete";

	&__map {
		margin-bottom: 10px;
		.dp-icon {
			color: #000;
		}
	}

	.dp-event {
		&__title {
			position: relative;
			margin: 0 0 10px 0;
		}

		@media screen and (min-width: 640px) {
			&__image .dp-image {
				width: 150px;
				height: 50px;
				object-fit: cover;
			}
		}

		@media screen and (max-width: 640px) {
			&__image .dp-image {
				max-height: 100px;
				object-fit: cover;
			}
		}
	}
}
