.com-dpcalendar-tools-translate .dp-button-bar {
	margin-bottom: 10px;
}
.com-dpcalendar-tools-translate .dp-button {
	display: inline-block;
	padding: 4px 10px;
	background-color: #fefefe;
	color: #212529;
	border: 1px solid #c0c0c0;
	text-align: center;
	font-weight: 400;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.com-dpcalendar-tools-translate .dp-button:disabled,
.com-dpcalendar-tools-translate .dp-button[disabled] {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}
.com-dpcalendar-tools-translate .dp-loader {
	position: relative;
	width: 100%;
	height: 0;
}
.com-dpcalendar-tools-translate .dp-loader::before {
	z-index: 10;
	position: absolute;
	right: 100%;
	bottom: 2px;
	left: 0;
	height: 4px;
	background-color: #2d9ede;
	content: "";
	animation: 12s 0s normal none 1 running calendar-loader;
	animation-fill-mode: forwards;
	animation-timing-function: cubix-bezier(0, 1, 0, 1);
	animation-iteration-count: infinite;
}
.com-dpcalendar-tools-translate .dp-loader_hidden::before {
	display: none;
}
@keyframes calendar-loader {
	0% {
		right: 100%;
	}
	50% {
		right: 6%;
		animation-timing-function: linear;
	}
	100% {
		right: 1%;
	}
}
.com-dpcalendar-tools-translate .dp-table {
	display: block;
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
	overflow-x: auto;
	background-color: var(--body-bg, #fff);
	color: var(--body-color, #000);
}
.com-dpcalendar-tools-translate .dp-table caption {
	padding: 1em 0;
	color: #000;
	text-align: center;
}
.com-dpcalendar-tools-translate .dp-table td, .com-dpcalendar-tools-translate .dp-table th {
	overflow: visible;
	margin: 0;
	padding: 0.7em 1em;
	border-bottom: rgb(206, 206, 206) solid 1px;
	text-align: center;
	font-size: inherit;
}
.com-dpcalendar-tools-translate .dp-table__thead, .com-dpcalendar-tools-translate .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}
.com-dpcalendar-tools-translate .dp-table .dp-cell-price {
	text-align: right;
}
@media screen and (width <= 767px) {
	.com-dpcalendar-tools-translate .dp-table,
	.com-dpcalendar-tools-translate .dp-table tbody:not(.dp-table__thead),
	.com-dpcalendar-tools-translate .dp-table th,
	.com-dpcalendar-tools-translate .dp-table td,
	.com-dpcalendar-tools-translate .dp-table tr {
		display: block;
		min-height: 3rem;
	}
	.com-dpcalendar-tools-translate .dp-table__thead,
	.com-dpcalendar-tools-translate .dp-table thead {
		display: none;
	}
	.com-dpcalendar-tools-translate .dp-table tr {
		margin: 0;
		padding: 0;
	}
	.com-dpcalendar-tools-translate .dp-table td {
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.com-dpcalendar-tools-translate .dp-table td::before {
		content: attr(data-column);
		position: absolute;
		left: 0.5rem;
		padding-right: 0.5rem;
		font-weight: bold;
	}
	.com-dpcalendar-tools-translate .dp-table td,
	.com-dpcalendar-tools-translate .dp-table th {
		text-align: left !important;
		box-sizing: border-box;
	}
	.com-dpcalendar-tools-translate .dp-table td > div,
	.com-dpcalendar-tools-translate .dp-table th > div {
		text-align: left;
	}
}
.com-dpcalendar-tools-translate .dp-resource__name {
	width: 100%;
	text-align: left !important;
}
.com-dpcalendar-tools-translate .dp-resource_success {
	background-color: #d4edda;
	color: #155724;
	border-color: #c3e6cb;
}
.com-dpcalendar-tools-translate .dp-resource_important {
	background-color: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
}
.com-dpcalendar-tools-translate .dp-resource_warning {
	background-color: #fff3cd;
	color: #856404;
	border-color: #ffeeba;
}
.com-dpcalendar-tools-translate .dp-resource_info {
	background-color: #d1ecf1;
	color: #0c5460;
	border-color: #bee5eb;
}
.com-dpcalendar-tools-translate__footer {
	padding: 2rem;
	text-align: center;
}
@media screen and (width <= 767px) {
	.com-dpcalendar-tools-translate .dp-table {
		padding-left: 1rem;
	}
}
.com-dpcalendar-tools-translate .dp-table {
	background-color: #fff;
	border: 0;
}

/*# sourceMappingURL=translate.css.map */