.com-dpcalendar-adminlist .dp-button-bar {
	margin-bottom: 10px;
}

.com-dpcalendar-adminlist .dp-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #c0c0c0;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 4px 10px;
	margin: 3px 0;
	color: #212529;
	background-color: #fefefe;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.com-dpcalendar-adminlist .dp-button:disabled,
.com-dpcalendar-adminlist .dp-button[disabled] {
	background-color: #cccccc;
	color: #666666;
}

.com-dpcalendar-adminlist .dp-datepicker {
	display: inline-flex;
	align-items: center;
}

.com-dpcalendar-adminlist .dp-datepicker__input {
	border-right: 0px;
	margin-right: -2px;
}

.com-dpcalendar-adminlist .dp-datepicker__button {
	margin: 0;
}

.com-dpcalendar-adminlist .dp-table {
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
}

.com-dpcalendar-adminlist .dp-table caption {
	color: #000;
	padding: 1em 0;
	text-align: center;
}

.com-dpcalendar-adminlist .dp-table td,
.com-dpcalendar-adminlist .dp-table th {
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.7em 1em;
	text-align: center;
}

.com-dpcalendar-adminlist .dp-table__thead, .com-dpcalendar-adminlist .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}

.com-dpcalendar-adminlist .dp-table td {
	background-color: transparent;
}

.com-dpcalendar-adminlist .dp-table .dp-cell-price {
	text-align: right;
}

.com-dpcalendar-adminlist .dp-table-odd td {
	background-color: #f2f2f2;
}

.com-dpcalendar-adminlist .dp-table tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

@media screen and (max-width: 767px) {
	.com-dpcalendar-adminlist .dp-table,
	.com-dpcalendar-adminlist .dp-table tbody:not(.dp-table__thead),
	.com-dpcalendar-adminlist .dp-table th,
	.com-dpcalendar-adminlist .dp-table td,
	.com-dpcalendar-adminlist .dp-table tr {
		display: block;
	}
	.com-dpcalendar-adminlist .dp-table__thead, .com-dpcalendar-adminlist .dp-table thead {
		display: none;
	}
	.com-dpcalendar-adminlist .dp-table tr {
		margin: 0;
		padding: 0;
	}
	.com-dpcalendar-adminlist .dp-table td {
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.com-dpcalendar-adminlist .dp-table td:before {
		content: attr(data-column);
		position: absolute;
		left: 10px;
		padding-right: 10px;
		font-weight: bold;
	}
	.com-dpcalendar-adminlist .dp-table td,
	.com-dpcalendar-adminlist .dp-table th {
		box-sizing: border-box;
		text-align: left !important;
	}
	.com-dpcalendar-adminlist .dp-table td > div,
	.com-dpcalendar-adminlist .dp-table th > div {
		text-align: left;
	}
}

.com-dpcalendar-adminlist__filterbar {
	display: flex;
	float: left;
	height: inherit !important;
	margin-right: 5px;
}

.com-dpcalendar-adminlist__filterbar .dp-datepicker {
	margin-right: 5px;
}

.com-dpcalendar-adminlist__filterbar .dp-datepicker__button {
	margin-top: 1px;
	margin-bottom: 9px;
}

.com-dpcalendar-adminlist .dp-table {
	border: 0;
}

.com-dpcalendar-adminlist .dp-table__col-expand {
	width: 30%;
}

.com-dpcalendar-adminlist .dp-table__col-state, .com-dpcalendar-adminlist .dp-table__col-check, .com-dpcalendar-adminlist .dp-table__col-order {
	width: 1%;
}

.com-dpcalendar-adminlist .dp-table td, .com-dpcalendar-adminlist .dp-table th {
	text-align: left;
	border-left: 0;
}

.com-dpcalendar-adminlist .dp-table tfoot tr td {
	background-color: inherit !important;
	border-bottom: 0;
}

.com-dpcalendar-adminlist-modal .dp-link {
	cursor: pointer;
}

.com-dpcalendar-adminlist .modal-body {
	padding: 20px;
}

.com-dpcalendar-adminlist__footer {
	padding: 20px;
	text-align: center;
}

.com-dpcalendar-adminlist .dp-events-table__col-color {
	width: 1%;
}

.com-dpcalendar-adminlist .dp-events-table__col-date {
	width: 20%;
}

.com-dpcalendar-adminlist .dp-events-table__col-color {
	min-height: 60px;
}

.com-dpcalendar-adminlist .dp-events-table .dp-event__color {
	padding: 5px;
}

.pika-single th,
.pika-single td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
	border-color: #ddd;
}

.pika-single button {
	text-align: center;
}

/*# sourceMappingURL=default.css.map */