.com-dpcalendar-adminlist .dp-button-bar {
	margin-bottom: 10px;
}
.com-dpcalendar-adminlist .dp-button {
	display: inline-block;
	padding: 4px 10px;
	background-color: #fefefe;
	color: #212529;
	border: 1px solid #c0c0c0;
	text-align: center;
	font-weight: 400;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	border-radius: 0.2rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.com-dpcalendar-adminlist .dp-button:disabled,
.com-dpcalendar-adminlist .dp-button[disabled] {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}
.com-dpcalendar-adminlist .dp-datepicker {
	display: inline-flex;
}
.com-dpcalendar-adminlist .dp-datepicker__input {
	margin-right: -3px;
}
.com-dpcalendar-adminlist .dp-datepicker__button {
	margin: 0;
	border: var(--form-control-border, var(--border-width, 1px) solid #ced4da);
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.com-dpcalendar-adminlist .dp-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.com-dpcalendar-adminlist .dp-icon svg {
	fill: currentcolor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}
.com-dpcalendar-adminlist .dp-table {
	display: block;
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
	overflow-x: auto;
	background-color: var(--body-bg, #fff);
	color: var(--body-color, #000);
}
.com-dpcalendar-adminlist .dp-table caption {
	padding: 1em 0;
	color: #000;
	text-align: center;
}
.com-dpcalendar-adminlist .dp-table td, .com-dpcalendar-adminlist .dp-table th {
	overflow: visible;
	margin: 0;
	padding: 0.7em 1em;
	border-bottom: rgb(206, 206, 206) solid 1px;
	text-align: left;
	font-size: inherit;
	box-sizing: border-box;
}
.com-dpcalendar-adminlist .dp-table__thead, .com-dpcalendar-adminlist .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}
.com-dpcalendar-adminlist .dp-table .dp-table__cell_right {
	text-align: right;
}
.com-dpcalendar-adminlist .dp-table .dp-table__cell_center {
	text-align: center;
}
@media screen and (width <= 767px) {
	.com-dpcalendar-adminlist .dp-table,
	.com-dpcalendar-adminlist .dp-table tbody:not(.dp-table__thead),
	.com-dpcalendar-adminlist .dp-table th,
	.com-dpcalendar-adminlist .dp-table td,
	.com-dpcalendar-adminlist .dp-table tr {
		display: block;
		min-height: 3rem;
	}
	.com-dpcalendar-adminlist .dp-table__thead,
	.com-dpcalendar-adminlist .dp-table thead {
		display: none;
	}
	.com-dpcalendar-adminlist .dp-table tr {
		margin: 0;
		padding: 0;
	}
	.com-dpcalendar-adminlist .dp-table td {
		position: relative;
		padding-left: 50%;
	}
	.com-dpcalendar-adminlist .dp-table td::before {
		content: attr(data-column);
		position: absolute;
		left: 0.5rem;
		padding-right: 0.5rem;
		font-weight: bold;
	}
}
.com-dpcalendar-adminlist .js-stools {
	display: unset;
}
.com-dpcalendar-adminlist .js-stools-container-bar {
	width: unset;
}
.com-dpcalendar-adminlist .dp-datepicker {
	margin-right: 0.5rem;
}
.com-dpcalendar-adminlist .js-stools-container-bar .btn-toolbar > * {
	margin: 0 5px;
}
.com-dpcalendar-adminlist .dp-table {
	border: 0;
}
.com-dpcalendar-adminlist .dp-table__col-expand {
	width: 30%;
}
.com-dpcalendar-adminlist .dp-table__col-state, .com-dpcalendar-adminlist .dp-table__col-check, .com-dpcalendar-adminlist .dp-table__col-order {
	width: 1%;
}
.com-dpcalendar-adminlist .dp-table td, .com-dpcalendar-adminlist .dp-table th {
	border-left: 0;
	text-align: left;
}
.com-dpcalendar-adminlist .dp-table tfoot tr td {
	border-bottom: 0;
}
.com-dpcalendar-adminlist .dp-link-featured.active {
	color: #ffb514;
}
.com-dpcalendar-adminlist-modal .dp-link {
	cursor: pointer;
}
.com-dpcalendar-adminlist__footer {
	padding: 20px;
	text-align: center;
	clear: both;
}
.com-dpcalendar-adminlist__batch .dp-batch-calendar {
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid #eee;
	box-sizing: border-box;
}
.com-dpcalendar-adminlist__batch .controls {
	display: flex;
}
.com-dpcalendar-adminlist__batch .controls label {
	flex: 0 0 20%;
	padding-top: 5px;
	text-align: left;
}
.com-dpcalendar-adminlist__batch .controls .inputbox {
	flex: 0 1 70%;
}
.com-dpcalendar-adminlist__batch .modal-body {
	padding: 20px;
	box-sizing: border-box;
}
.com-dpcalendar-adminlist .dp-events-table__col-color {
	width: 1%;
	min-height: 60px;
}
.com-dpcalendar-adminlist .dp-events-table__col-date {
	width: 20%;
}
.com-dpcalendar-adminlist .dp-events-table .dp-event__color {
	padding: 5px;
	text-align: center;
}
.com-dpcalendar-adminlist .dp-locations-table__col-color {
	width: 1%;
	min-height: 60px;
}
.com-dpcalendar-adminlist .dp-locations-table .dp-location__color {
	padding: 5px;
	text-align: center;
}

#toolbar joomla-toolbar-button {
	margin: 0 10px 10px 0;
}

.subhead-collapse {
	margin-bottom: 1px !important;
}

.pika-single th,
.pika-single td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
	border-color: #ddd;
}

.pika-single button {
	text-align: center;
}

/*# sourceMappingURL=default.css.map */