.com-dpcalendar-bookingform .dp-button-bar {
	margin-bottom: 10px;
}

.com-dpcalendar-bookingform .dp-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #c0c0c0;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 4px 10px;
	margin: 3px 0;
	color: #212529;
	background-color: #fefefe;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.com-dpcalendar-bookingform .dp-button:disabled,
.com-dpcalendar-bookingform .dp-button[disabled] {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
}

.com-dpcalendar-bookingform .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.com-dpcalendar-bookingform .dp-info-box {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #c09853;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.com-dpcalendar-bookingform .dp-info-box_success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.com-dpcalendar-bookingform .dp-info-box_error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.com-dpcalendar-bookingform .dp-form-input {
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
}

.com-dpcalendar-bookingform .dp-control, .com-dpcalendar-bookingform .control-group {
	display: flex;
	margin-bottom: 5px;
}

.com-dpcalendar-bookingform .dp-control__label, .com-dpcalendar-bookingform .control-group .control-label {
	flex: 0 0 20%;
	padding-top: 5px;
	text-align: left;
}

.com-dpcalendar-bookingform .dp-control__input, .com-dpcalendar-bookingform .control-group .controls {
	flex: 1 1 80%;
}

.com-dpcalendar-bookingform .dp-control_hidden {
	display: none;
}

.com-dpcalendar-bookingform .control-group .form-text {
	display: none;
}

@media screen and (max-width: 640px) {
	.com-dpcalendar-bookingform .dp-control:not(.dp-control_hidden), .com-dpcalendar-bookingform .control-group:not(.dp-control_hidden) {
		display: block;
	}
	.com-dpcalendar-bookingform .dp-control:not(.dp-control_hidden)__label, .com-dpcalendar-bookingform .control-group:not(.dp-control_hidden)__label, .com-dpcalendar-bookingform .dp-control:not(.dp-control_hidden)__input, .com-dpcalendar-bookingform .control-group:not(.dp-control_hidden)__input {
		width: 100%;
		margin-left: 0;
	}
	.com-dpcalendar-bookingform .control-group:not(.dp-control_hidden) {
		display: block;
	}
	.com-dpcalendar-bookingform .control-group:not(.dp-control_hidden) control-label, .com-dpcalendar-bookingform .control-group:not(.dp-control_hidden) controls {
		width: 100%;
		margin-left: 0;
	}
}

.com-dpcalendar-bookingform .dp-loader {
	position: relative;
	width: 100%;
	height: 0;
}

.com-dpcalendar-bookingform .dp-loader::before {
	content: '';
	position: absolute;
	right: 100%;
	left: 0;
	bottom: 2px;
	z-index: 10;
	height: 4px;
	background-color: #2d9ede;
	animation: 12s 0s normal none 1 running calendarLoader;
	animation-fill-mode: forwards;
	animation-timing-function: cubix-bezier(0, 1, 0, 1);
	animation-iteration-count: infinite;
}

.com-dpcalendar-bookingform .dp-loader_hidden::before {
	display: none;
}

@keyframes calendarLoader {
	0% {
		right: 100%;
	}
	50% {
		right: 6%;
		animation-timing-function: linear;
	}
	100% {
		right: 1%;
	}
}

.com-dpcalendar-bookingform .dp-form-radio.radio {
	padding-left: 0px;
}

.com-dpcalendar-bookingform .dp-form-radio label {
	padding-right: 10px;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:empty {
	display: none;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:empty + label {
	position: relative;
	float: left;
	line-height: 2em;
	text-indent: 3em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 5px;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:empty + label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:hover:not(:checked) + label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:hover:not(:checked) + label {
	color: #888;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:checked + label:before {
	content: '\2714';
	text-indent: .9em;
	color: #cdeacd;
	background-color: #46a546;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:checked + label {
	color: #777;
}

.com-dpcalendar-bookingform .dp-form-radio input[type=radio]:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.com-dpcalendar-bookingform .dp-table {
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
}

.com-dpcalendar-bookingform .dp-table caption {
	color: #000;
	padding: 1em 0;
	text-align: center;
}

.com-dpcalendar-bookingform .dp-table td,
.com-dpcalendar-bookingform .dp-table th {
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.7em 1em;
	text-align: center;
}

.com-dpcalendar-bookingform .dp-table__thead, .com-dpcalendar-bookingform .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}

.com-dpcalendar-bookingform .dp-table td {
	background-color: transparent;
}

.com-dpcalendar-bookingform .dp-table .dp-cell-price {
	text-align: right;
}

.com-dpcalendar-bookingform .dp-table-odd td {
	background-color: #f2f2f2;
}

.com-dpcalendar-bookingform .dp-table tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

@media screen and (max-width: 767px) {
	.com-dpcalendar-bookingform .dp-table,
	.com-dpcalendar-bookingform .dp-table tbody:not(.dp-table__thead),
	.com-dpcalendar-bookingform .dp-table th,
	.com-dpcalendar-bookingform .dp-table td,
	.com-dpcalendar-bookingform .dp-table tr {
		display: block;
	}
	.com-dpcalendar-bookingform .dp-table__thead, .com-dpcalendar-bookingform .dp-table thead {
		display: none;
	}
	.com-dpcalendar-bookingform .dp-table tr {
		margin: 0;
		padding: 0;
	}
	.com-dpcalendar-bookingform .dp-table td {
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.com-dpcalendar-bookingform .dp-table td:before {
		content: attr(data-column);
		position: absolute;
		left: 10px;
		padding-right: 10px;
		font-weight: bold;
	}
	.com-dpcalendar-bookingform .dp-table td,
	.com-dpcalendar-bookingform .dp-table th {
		box-sizing: border-box;
		text-align: left !important;
	}
	.com-dpcalendar-bookingform .dp-table td > div,
	.com-dpcalendar-bookingform .dp-table th > div {
		text-align: left;
	}
}

.com-dpcalendar-bookingform .dp-timezone {
	display: flex;
	align-items: center;
}

.com-dpcalendar-bookingform .dp-timezone .choices {
	font-size: inherit;
}

.com-dpcalendar-bookingform .dp-timezone .choices__inner, .com-dpcalendar-bookingform .dp-timezone .choices__input {
	min-height: unset;
	padding: 0 !important;
	background-color: inherit;
	font-size: inherit;
}

.com-dpcalendar-bookingform .dp-timezone .choices__input, .com-dpcalendar-bookingform .dp-timezone .choices__input:focus {
	border: 0 !important;
	box-shadow: unset;
}

.com-dpcalendar-bookingform .dp-timezone .choices__list--multiple .choices__item {
	margin: 3px;
	padding: 2px 10px;
	border-radius: 2px;
	background-color: #2D9EDE;
	border: 1px solid #1d82bb;
	color: #000;
}

.com-dpcalendar-bookingform .dp-timezone .choices__list--dropdown {
	z-index: 1001;
}

.com-dpcalendar-bookingform .dp-timezone .choices__list--dropdown .choices__item {
	padding: 3px;
}

.com-dpcalendar-bookingform .dp-timezone .choices__button {
	background-image: url("../../../../images/icons/times-solid.svg") !important;
}

.com-dpcalendar-bookingform .dp-timezone__label {
	font-weight: bold;
	margin-right: 10px;
}

.com-dpcalendar-bookingform .dp-timezone .choices {
	min-width: 300px;
	margin: 0;
}

.com-dpcalendar-bookingform .dp-select_error {
	border: 3px solid #f5515c;
}

.com-dpcalendar-bookingform .choices {
	font-size: inherit;
}

.com-dpcalendar-bookingform .choices__inner, .com-dpcalendar-bookingform .choices__input {
	min-height: unset;
	padding: 0 !important;
	background-color: inherit;
	font-size: inherit;
}

.com-dpcalendar-bookingform .choices__input, .com-dpcalendar-bookingform .choices__input:focus {
	border: 0 !important;
	box-shadow: unset;
}

.com-dpcalendar-bookingform .choices__list--multiple .choices__item {
	margin: 3px;
	padding: 2px 10px;
	border-radius: 2px;
	background-color: #2D9EDE;
	border: 1px solid #1d82bb;
	color: #000;
}

.com-dpcalendar-bookingform .choices__list--dropdown {
	z-index: 1001;
}

.com-dpcalendar-bookingform .choices__list--dropdown .choices__item {
	padding: 3px;
}

.com-dpcalendar-bookingform .choices__button {
	background-image: url("../../../../images/icons/times-solid.svg") !important;
}

.com-dpcalendar-bookingform__payment-options {
	display: none;
	padding: 10px 0;
}

.com-dpcalendar-bookingform .dp-payment-option {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	border: 2px solid #EEE;
}

.com-dpcalendar-bookingform .dp-payment-option:hover {
	background-color: #dff0d8;
	cursor: pointer;
}

.com-dpcalendar-bookingform .dp-payment-option__input {
	display: none;
}

.com-dpcalendar-bookingform .dp-payment-option .dp-icon_angle-right {
	flex: 0 0 15px;
	margin-right: 20px;
}

.com-dpcalendar-bookingform .dp-payment-option .dp-icon_angle-right svg {
	width: 2em;
	height: 2em;
}

.com-dpcalendar-bookingform .dp-payment-option__image {
	flex: 0 0 40px;
	padding: 0 10px 0 0;
}

.com-dpcalendar-bookingform .dp-payment-option__image svg {
	fill: #2D9EDE;
	color: #2D9EDE;
}

.com-dpcalendar-bookingform .dp-payment-option__text {
	flex: 1 1 200px;
	margin: 0;
}

.com-dpcalendar-bookingform__events {
	max-height: 500px;
	overflow: auto;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEE;
}

.com-dpcalendar-bookingform__events .dp-table__thead {
	background-color: #2D9EDE;
	color: #000000;
}

.com-dpcalendar-bookingform__events .dp-table td, .com-dpcalendar-bookingform__events .dp-table th {
	border-left-width: 0 !important;
}

.com-dpcalendar-bookingform .dp-event_instance {
	display: none;
}

.com-dpcalendar-bookingform .dp-event__ticket-count {
	font-style: italic;
}

.com-dpcalendar-bookingform .dp-ticket td,
.com-dpcalendar-bookingform .dp-option td {
	white-space: nowrap;
}

.com-dpcalendar-bookingform .dp-ticket__amount select,
.com-dpcalendar-bookingform .dp-option__amount select {
	max-width: 50px;
}

.com-dpcalendar-bookingform .dp-ticket__title,
.com-dpcalendar-bookingform .dp-option__title {
	width: 100%;
	text-align: left !important;
}

.com-dpcalendar-bookingform .dp-ticket__price, .com-dpcalendar-bookingform .dp-ticket__calculated-price,
.com-dpcalendar-bookingform .dp-option__price,
.com-dpcalendar-bookingform .dp-option__calculated-price {
	min-width: 100px;
	text-align: right !important;
}

.com-dpcalendar-bookingform .dp-ticket__price-info,
.com-dpcalendar-bookingform .dp-option__price-info {
	min-width: 15px;
	cursor: pointer;
}

.com-dpcalendar-bookingform .dp-price__info {
	display: inline-block;
}

.com-dpcalendar-bookingform .dp-price__live {
	display: inline-block;
	text-align: right;
}

.com-dpcalendar-bookingform .dp-price__original {
	text-decoration: line-through;
	text-align: right;
}

.com-dpcalendar-bookingform .dp-price_hidden {
	display: none;
}

.com-dpcalendar-bookingform .dp-tax {
	display: none;
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: right;
}

.com-dpcalendar-bookingform .dp-tax__content {
	display: inline-block;
	min-width: 70px;
	padding: 0 1em;
}

.com-dpcalendar-bookingform .dp-price-total {
	width: 100%;
	border-bottom: 1px solid #EEE;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	text-align: right;
	font-weight: bold;
}

.com-dpcalendar-bookingform .dp-price-total__content {
	display: inline-block;
	min-width: 70px;
	padding: 0 1em;
}

.com-dpcalendar-bookingform .dp-term {
	display: flex;
	align-items: center;
	margin: 5px;
}

.com-dpcalendar-bookingform .dp-term__input {
	margin: 0 5px 0 0;
}

.com-dpcalendar-bookingform .dp-term__text {
	margin: 0;
}

.com-dpcalendar-bookingform .dp-icon svg {
	width: 1.2em;
	height: 1.2em;
}

.com-dpcalendar-bookingform .dp-booking-invoice {
	padding: 20px;
	background-color: #eee;
}

/*# sourceMappingURL=default.css.map */