.com-dpcalendar-booking-order {
	@import "../../layouts/block/heading";
	@import "../../layouts/block/button";
	@import "../../layouts/block/table";
	@import "../../layouts/block/form";
	@import "../../layouts/block/input";
	@import "../../layouts/block/icon";
	@import "../../misc/print";

	.com-dpcalendar-booking {
		&__tickets-message {
			margin-bottom: 10px;
		}

		&__event-info {
			.dp-control__input {
				min-height: $inputHeight;
			}
		}

		&__fields {
			.controls {
				position: relative;
			}

			.dp-icon {
				position: absolute;
				right: 10px;
				top: 8px;
			}
		}
	}

	&_error {
		color: #721c24;

		input[type="text"],
		select {
			border: 1px solid #721c24;
		}
	}

	&_success {
		color: #3c763d;

		input[type="text"],
		select {
			border: 1px solid #3c763d;
		}
	}
}
