@charset "UTF-8";
.com-dpcalendar-locationform {
	/* stylelint-disable-next-line selector-class-pattern */
	/* stylelint-disable-next-line selector-id-pattern */
	/* stylelint-disable-next-line selector-id-pattern */
}
.com-dpcalendar-locationform .dp-autocomplete {
	z-index: 1001;
	display: none;
	max-height: 220px;
	padding: 0;
	background-color: #fff;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	overflow-y: auto !important;
}
.com-dpcalendar-locationform .dp-autocomplete__result {
	display: block;
	margin: 0;
	padding: 0.5rem 1rem;
}
.com-dpcalendar-locationform .dp-autocomplete__result:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.com-dpcalendar-locationform .dp-autocomplete__result_selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.com-dpcalendar-locationform .dp-button-bar {
	margin-bottom: 10px;
}
.com-dpcalendar-locationform .dp-button {
	display: inline-block;
	padding: 4px 10px;
	background-color: #fefefe;
	color: #212529;
	border: 1px solid #c0c0c0;
	text-align: center;
	font-weight: 400;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.com-dpcalendar-locationform .dp-button:disabled,
.com-dpcalendar-locationform .dp-button[disabled] {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}
@media screen and (width <= 640px) {
	.com-dpcalendar-locationform .dp-control, .com-dpcalendar-locationform .control-group {
		/* stylelint-disable-next-line selector-class-pattern */
		/* stylelint-disable-next-line selector-class-pattern */
	}
	.com-dpcalendar-locationform .dp-control__label, .com-dpcalendar-locationform .control-group .control-label,
	.com-dpcalendar-locationform .control-group .form-label, .com-dpcalendar-locationform .dp-control__input, .com-dpcalendar-locationform .control-group .controls,
	.com-dpcalendar-locationform .control-group .form-control {
		width: 100%;
		margin-left: 0;
	}
	.com-dpcalendar-locationform .dp-control:not(.dp-control_hidden), .com-dpcalendar-locationform .control-group:not(.dp-control_hidden) {
		display: block;
	}
	.com-dpcalendar-locationform .dp-control .control-group:not(.dp-control_hidden), .com-dpcalendar-locationform .control-group .control-group:not(.dp-control_hidden) {
		display: block;
	}
	.com-dpcalendar-locationform .dp-control .control-label, .com-dpcalendar-locationform .control-group .control-label,
	.com-dpcalendar-locationform .dp-control .controls,
	.com-dpcalendar-locationform .control-group .controls {
		width: 100%;
		margin-left: 0;
	}
}
.com-dpcalendar-locationform .dp-control, .com-dpcalendar-locationform .control-group {
	display: flex;
	margin-bottom: 5px;
}
.com-dpcalendar-locationform .dp-control__label, .com-dpcalendar-locationform .control-group .control-label,
.com-dpcalendar-locationform .control-group .form-label {
	flex: 0 0 20%;
	padding-top: 5px;
	text-align: left;
}
.com-dpcalendar-locationform .dp-control__input, .com-dpcalendar-locationform .control-group .controls,
.com-dpcalendar-locationform .control-group .form-control {
	flex: 1 1 80%;
}
.com-dpcalendar-locationform .dp-control_hidden {
	display: none;
}
.com-dpcalendar-locationform .dp-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.com-dpcalendar-locationform .dp-heading {
	clear: both;
	margin-bottom: 1rem;
}
.com-dpcalendar-locationform .dp-heading_small {
	border-bottom: none;
}
.com-dpcalendar-locationform .dp-icon svg {
	fill: currentcolor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}
.com-dpcalendar-locationform .dp-form-input {
	width: 100%;
	min-height: 28px;
	box-sizing: border-box;
}
.com-dpcalendar-locationform .dp-loader {
	position: relative;
	width: 100%;
	height: 0;
}
.com-dpcalendar-locationform .dp-loader::before {
	z-index: 10;
	position: absolute;
	right: 100%;
	bottom: 2px;
	left: 0;
	height: 4px;
	background-color: #2d9ede;
	content: "";
	animation: 12s 0s normal none 1 running calendar-loader;
	animation-fill-mode: forwards;
	animation-timing-function: cubix-bezier(0, 1, 0, 1);
	animation-iteration-count: infinite;
}
.com-dpcalendar-locationform .dp-loader_hidden::before {
	display: none;
}
@keyframes calendar-loader {
	0% {
		right: 100%;
	}
	50% {
		right: 6%;
		animation-timing-function: linear;
	}
	100% {
		right: 1%;
	}
}
.com-dpcalendar-locationform .dp-form-radio {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	margin-bottom: 0.2rem;
}
.com-dpcalendar-locationform .dp-form-radio.radio {
	padding-left: 0;
}
.com-dpcalendar-locationform .dp-form-radio label {
	padding-right: 1rem;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:empty {
	display: none;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:empty + label {
	position: relative;
	margin-right: 0.5rem;
	cursor: pointer;
	float: left;
	line-height: 2em;
	text-indent: 3em;
	user-select: none;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:empty + label::before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.5em;
	content: "";
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:checked + label::before {
	background-color: #46a546;
	/* stylelint-disable-next-line scss/no-global-function-names */
	color: #cdeacd;
	content: "✔";
	text-indent: 0.9em;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:focus ~ label::before {
	box-shadow: 0 0 0 3px #999;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:hover:not(:checked) + label::before {
	content: "✔";
	text-indent: 0.9em;
	color: #C2C2C2;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:checked + label {
	color: #777;
}
.com-dpcalendar-locationform .dp-form-radio input[type=radio]:hover:not(:checked) + label {
	color: #888;
}
.com-dpcalendar-locationform .dp-form-radio .form-check {
	padding: 0;
}
.com-dpcalendar-locationform .dp-select {
	width: 100%;
	border: 1px solid #ccc;
}
.com-dpcalendar-locationform .dp-select-element {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
}
.com-dpcalendar-locationform .dp-select-container {
	position: relative;
	width: 100%;
}
.com-dpcalendar-locationform .dp-select-container__options {
	z-index: 10001;
	width: 100%;
	max-height: 300px;
	overflow: hidden scroll;
	padding: 0;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.16);
	background: #fff;
	border-radius: 4px;
	opacity: 0;
	pointer-events: none;
	transition: 300ms ease-in-out;
}
.com-dpcalendar-locationform .dp-select-container__options.open {
	opacity: 1;
	pointer-events: all;
}
.com-dpcalendar-locationform .dp-select-container__options-selected {
	display: inline-flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}
.com-dpcalendar-locationform .dp-select-container__handler {
	width: 100%;
}
.com-dpcalendar-locationform .dp-select-container_unstyled, .com-dpcalendar-locationform .dp-select-container__input_unstyled {
	display: block;
	width: 100%;
	padding: 0.2rem;
	border: 1px solid #ced4da;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}
.com-dpcalendar-locationform .dp-select-input {
	display: inline-block !important;
	width: 1ch;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	box-sizing: content-box !important;
	outline: none !important;
}
.com-dpcalendar-locationform .dp-select-input:disabled {
	cursor: not-allowed;
}
.com-dpcalendar-locationform .dp-select-input:focus-visible {
	color: inherit;
	box-shadow: none;
}
.com-dpcalendar-locationform .dp-select-option {
	position: relative;
	padding: 0.2rem 1rem;
	cursor: pointer;
	line-height: initial;
}
.com-dpcalendar-locationform .dp-select-option-group__label {
	display: block;
	margin: 0.2rem 0;
	padding: 0.2rem 0.5rem;
	border-bottom: 1px solid #cecece;
	font-weight: bold;
}
.com-dpcalendar-locationform .dp-select-option[data-selected=true], .com-dpcalendar-locationform .dp-select-option:hover {
	background: #ddd;
}
.com-dpcalendar-locationform .dp-select-option[data-disabled=true] {
	background: #fff;
	color: #999;
	cursor: not-allowed;
}
.com-dpcalendar-locationform .dp-select-option-input {
	cursor: pointer;
}
.com-dpcalendar-locationform .dp-select-option[data-selected=true] {
	display: inline-flex;
	align-items: center;
	margin-right: 0.5rem;
}
.com-dpcalendar-locationform .dp-select-option__icon {
	display: flex;
	margin-left: 0.5rem;
}
.com-dpcalendar-locationform .dp-select-option__icon svg {
	width: 1rem;
	height: 1rem;
}
.com-dpcalendar-locationform .dp-select-option_selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.com-dpcalendar-locationform .dp-select_error {
	border: 3px solid #f5515c;
}
@media (width <= 45em) {
	.com-dpcalendar-locationform .dp-tabs__tab, .com-dpcalendar-locationform .dp-tabs__label {
		-webkit-box-ordinal-group: nan;
		-ms-flex-order: initial;
		order: initial;
	}
	.com-dpcalendar-locationform .dp-tabs__label {
		width: 100%;
		margin-top: 0.2rem;
		margin-right: 0;
	}
}
.com-dpcalendar-locationform .dp-tabs {
	display: flex;
	flex-wrap: wrap;
}
.com-dpcalendar-locationform .dp-tabs__label {
	display: block;
	margin-right: 0.2rem;
	margin-bottom: 0;
	padding: 0.3rem 0.4rem;
	border: 1px solid #ccc;
	font-weight: bold;
	cursor: pointer;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	transition: background ease 0.2s;
}
.com-dpcalendar-locationform .dp-tabs__tab {
	display: none;
	width: 100%;
	padding: 1rem;
	-webkit-box-ordinal-group: 100;
	-ms-flex-order: 99;
	order: 99;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.com-dpcalendar-locationform .dp-tabs__input {
	position: absolute;
	opacity: 0;
}
.com-dpcalendar-locationform .dp-tabs__input:checked + .dp-tabs__label {
	background: transparent;
	border-bottom: none;
}
.com-dpcalendar-locationform .dp-tabs__input[type=radio]:checked + .dp-tabs__label + .dp-tabs__tab {
	display: block;
}
.com-dpcalendar-locationform .dp-timezone {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.com-dpcalendar-locationform .dp-timezone > * {
	flex: 1;
}
.com-dpcalendar-locationform .dp-timezone__label {
	flex: 0;
	margin-right: 10px;
	font-weight: bold;
	white-space: nowrap;
}
.com-dpcalendar-locationform .dp-timezone__info {
	flex: 0 0 100%;
	margin: 0.2rem 0;
	padding: 1rem;
	background-color: rgb(200, 204, 208);
}
.com-dpcalendar-locationform .dp-timezone__info_hidden {
	display: none;
}
.com-dpcalendar-locationform .dp-map_consent {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border: 1px solid #b2b2b2;
	font-size: 2em;
	cursor: pointer;
}
.com-dpcalendar-locationform #jform_geocomplete {
	display: inline-block;
	max-width: 80%;
}
.com-dpcalendar-locationform #jform_geocomplete_find {
	margin: 0 0 9px;
}

/*# sourceMappingURL=default.css.map */