.com-dpcalendar-bookings .dp-buttons {
	float: left;
}

.com-dpcalendar-bookings .dp-form {
	float: right;
}

.com-dpcalendar-bookings .dp-pagination__counter, .com-dpcalendar-bookings .dp-pagination__links {
	float: left;
	margin-right: 5px;
}

@media print {
	.com-dpcalendar-bookings .dp-print-hide {
		display: none !important;
	}
	.com-dpcalendar-bookings a:link:after, .com-dpcalendar-bookings a:visited:after {
		display: none;
		content: "";
	}
	.com-dpcalendar-bookings dt {
		float: left !important;
		margin: 0 !important;
		padding: 0 !important;
		max-width: 150px;
		min-width: 150px;
	}
	.com-dpcalendar-bookings dd {
		float: left !important;
		margin: 0 0 0 5px !important;
		padding: 0 !important;
		max-width: 350px;
	}
}

.com-dpcalendar-bookings .dp-button-bar {
	margin-bottom: 10px;
}

.com-dpcalendar-bookings .dp-button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #c0c0c0;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: 0 10px;
	margin: 3px 0;
	font-size: .7rem;
	line-height: 1.5rem;
	color: #212529;
	background-color: #fefefe;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.com-dpcalendar-bookings .dp-button:disabled,
.com-dpcalendar-bookings .dp-button[disabled] {
	background-color: #cccccc;
	color: #666666;
}

.com-dpcalendar-bookings .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.com-dpcalendar-bookings .dp-table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
	width: 100%;
}

.com-dpcalendar-bookings .dp-table caption {
	color: #000;
	padding: 1em 0;
	text-align: center;
}

.com-dpcalendar-bookings .dp-table td,
.com-dpcalendar-bookings .dp-table th {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: 0.4em 1em;
	text-align: center;
}

.com-dpcalendar-bookings .dp-table td:first-child,
.com-dpcalendar-bookings .dp-table th:first-child {
	border-left-width: 0;
}

.com-dpcalendar-bookings .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}

.com-dpcalendar-bookings .dp-table td {
	background-color: transparent;
}

.com-dpcalendar-bookings .dp-table .dp-cell-price {
	text-align: right;
}

.com-dpcalendar-bookings .dp-table-odd td {
	background-color: #f2f2f2;
}

.com-dpcalendar-bookings .dp-table tr:nth-child(2n-1) td {
	background-color: #f2f2f2;
}

.com-dpcalendar-bookings .dp-table td, .com-dpcalendar-bookings .dp-table th {
	border-bottom: 1px solid #cbcbcb;
}

.com-dpcalendar-bookings .dp-table tbody > tr:last-child {
	border-bottom-width: 0;
}

@media screen and (max-width: 767px) {
	.com-dpcalendar-bookings .dp-table,
	.com-dpcalendar-bookings .dp-table thead,
	.com-dpcalendar-bookings .dp-table tbody,
	.com-dpcalendar-bookings .dp-table th,
	.com-dpcalendar-bookings .dp-table td,
	.com-dpcalendar-bookings .dp-table tr {
		display: block;
	}
	.com-dpcalendar-bookings .dp-table thead {
		display: none;
	}
	.com-dpcalendar-bookings .dp-table tr {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.com-dpcalendar-bookings .dp-table td {
		border: none;
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.com-dpcalendar-bookings .dp-table td:before {
		content: attr(data-column);
		position: absolute;
		left: 10px;
		padding-right: 10px;
		font-weight: bold;
	}
	.com-dpcalendar-bookings .dp-table td,
	.com-dpcalendar-bookings .dp-table th {
		box-sizing: border-box;
		border-bottom: 0;
		text-align: left !important;
	}
	.com-dpcalendar-bookings .dp-table td > div,
	.com-dpcalendar-bookings .dp-table th > div {
		text-align: left;
	}
}

.com-dpcalendar-bookings .dp-timezone {
	margin-top: auto;
	margin-bottom: auto;
	margin-bottom: 10px;
}

.com-dpcalendar-bookings .dp-timezone__label {
	font-weight: bold;
}

.com-dpcalendar-bookings .dp-timezone__select {
	max-width: 200px;
}

/*# sourceMappingURL=default.css.map */
