.dp-autocomplete {
	border-right: 1px solid rgba(0, 0, 0, .2);
	border-left: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	padding: 0;
	background-color: #ffffff;
	z-index: 1001;
	max-height: 220px;
	overflow-y: auto !important;

	display: none;

	&__result {
		margin: 0;
		padding: 5px 10px;
		display: block;
	}

	&__result:not(:last-child) {
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}

	&__result_selected {
		background-color: rgba(0, 0, 0, .1);
	}
}