.dp-info-box {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #c09853;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	&_success {
		background-color: #dff0d8;
		border-color: #d6e9c6;
		color: #3c763d;
	}

	&_error {
		color: #721c24;
		background-color: #f8d7da;
		border-color: #f5c6cb;
	}
}
