$inputHeight: 28px !default;

.dp-form-input {
	width: 100%;
	min-height: $inputHeight;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
