.dp-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	& > li {
		border-bottom: 1px solid rgb(221, 221, 221);
		padding: 1em 1em;
	}

	& > li:first-child {
		border-top: 1px solid rgb(221, 221, 221);
	}

	& > li:nth-of-type(odd) {
		background-color: #f2f2f2;
	}
}
