.dp-loader {
	position: relative;
	width: 100%;
	height: 0;

	&::before {
		content: '';
		position: absolute;
		right: 100%;
		left: 0;
		bottom: 2px;
		z-index: 10;
		height: 4px;
		background-color: #2d9ede;
		animation: 12s 0s normal none 1 running calendarLoader;
		animation-fill-mode: forwards;
		animation-timing-function: cubix-bezier(0, 1, 0, 1);
	}

	&_hidden::before {
		display: none;
	}
}

@keyframes calendarLoader {
	0% {
		right: 100%;
	}
	50% {
		right: 6%;
		animation-timing-function: linear;
	}
	100% {
		right: 5%;
	}
}
