.dp-tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	&__label {
		border: 1px solid #ccc;
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		display: block;
		padding: 0.3rem 0.4rem;
		margin-right: 0.2rem;
		margin-bottom: 0;
		cursor: pointer;
		font-weight: bold;
		-webkit-transition: background ease 0.2s;
		transition: background ease 0.2s;
	}

	&__tab {
		-webkit-box-ordinal-group: 100;
		-webkit-order: 99;
		-ms-flex-order: 99;
		order: 99;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: 100%;
		display: none;
		padding: 1rem;
	}

	&__input {
		position: absolute;
		opacity: 0;
	}

	&__input:checked + .dp-tabs__label {
		background: transparent;
		border-bottom: none;
	}

	&__input[type="radio"]:checked + .dp-tabs__label + .dp-tabs__tab {
		display: block;
	}

	@media (max-width: 45em) {
		&__tab, &__label {
			-webkit-box-ordinal-group: NaN;
			-webkit-order: initial;
			-ms-flex-order: initial;
			order: initial;
		}

		&__label {
			width: 100%;
			margin-right: 0;
			margin-top: 0.2rem;
		}
	}
}
