.com-dpcalendar-event {
	/* stylelint-disable-next-line selector-class-pattern */
	/* stylelint-disable-next-line selector-class-pattern */
	/* stylelint-disable-next-line selector-class-pattern */
}
.com-dpcalendar-event .dp-button-bar {
	margin-bottom: 10px;
}
.com-dpcalendar-event .dp-button {
	display: inline-block;
	padding: 4px 10px;
	background-color: #fefefe;
	color: #212529;
	border: 1px solid #c0c0c0;
	text-align: center;
	font-weight: 400;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	border-radius: 0.1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.com-dpcalendar-event .dp-button:disabled,
.com-dpcalendar-event .dp-button[disabled] {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}
.com-dpcalendar-event .dp-description {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.com-dpcalendar-event .dp-description__label {
	flex: 0 0 160px;
	text-align: left;
}
.com-dpcalendar-event .dp-description__description {
	flex: 1 1 200px;
	word-break: break-word;
}
.com-dpcalendar-event .dp-figure {
	margin: 0;
	text-align: center;
}
.com-dpcalendar-event .dp-figure__caption {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.com-dpcalendar-event .dp-heading {
	clear: both;
	margin-bottom: 1rem;
}
.com-dpcalendar-event .dp-heading_small {
	border-bottom: none;
}
.com-dpcalendar-event .dp-icon svg {
	fill: currentcolor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}
.com-dpcalendar-event .dp-info-box {
	margin-bottom: 18px;
	padding: 8px 35px 8px 14px;
	background-color: #fff3cd;
	color: #664d03;
	border: 1px solid #ffecb5;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 4px;
}
.com-dpcalendar-event .dp-info-box_success {
	background-color: #d1e7dd;
	color: #0f5132;
	border-color: #badbcc;
}
.com-dpcalendar-event .dp-info-box_error {
	background-color: #f8d7da;
	color: #842029;
	border-color: #f5c2c7;
}
.com-dpcalendar-event .dp-button-map-site,
.com-dpcalendar-event .dp-button-map-directions {
	background-color: #4258FF;
	color: #fff;
	/* stylelint-disable-next-line scss/no-global-function-names */
	border: 1px solid #0f2bff;
}
.com-dpcalendar-event .dp-select {
	width: 100%;
	border: 1px solid #ccc;
}
.com-dpcalendar-event .dp-select-element {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
}
.com-dpcalendar-event .dp-select-container {
	position: relative;
	width: 100%;
}
.com-dpcalendar-event .dp-select-container__options {
	z-index: 10001;
	width: 100%;
	max-height: 300px;
	overflow: hidden scroll;
	padding: 0;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.16);
	background: #fff;
	border-radius: 4px;
	opacity: 0;
	pointer-events: none;
	transition: 300ms ease-in-out;
}
.com-dpcalendar-event .dp-select-container__options.open {
	opacity: 1;
	pointer-events: all;
}
.com-dpcalendar-event .dp-select-container__options-selected {
	display: inline-flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}
.com-dpcalendar-event .dp-select-container__handler {
	width: 100%;
}
.com-dpcalendar-event .dp-select-container_unstyled, .com-dpcalendar-event .dp-select-container__input_unstyled {
	display: block;
	width: 100%;
	padding: 0.2rem;
	border: 1px solid #ced4da;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}
.com-dpcalendar-event .dp-select-input {
	display: inline-block !important;
	width: 1ch;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	box-sizing: content-box !important;
	outline: none !important;
}
.com-dpcalendar-event .dp-select-input:disabled {
	cursor: not-allowed;
}
.com-dpcalendar-event .dp-select-input:focus-visible {
	color: inherit;
	box-shadow: none;
}
.com-dpcalendar-event .dp-select-option {
	position: relative;
	padding: 0.2rem 1rem;
	cursor: pointer;
	line-height: initial;
}
.com-dpcalendar-event .dp-select-option-group__label {
	display: block;
	margin: 0.2rem 0;
	padding: 0.2rem 0.5rem;
	border-bottom: 1px solid #cecece;
	font-weight: bold;
}
.com-dpcalendar-event .dp-select-option[data-selected=true], .com-dpcalendar-event .dp-select-option:hover {
	background: #ddd;
}
.com-dpcalendar-event .dp-select-option[data-disabled=true] {
	background: #fff;
	color: #999;
	cursor: not-allowed;
}
.com-dpcalendar-event .dp-select-option-input {
	cursor: pointer;
}
.com-dpcalendar-event .dp-select-option[data-selected=true] {
	display: inline-flex;
	align-items: center;
	margin-right: 0.5rem;
}
.com-dpcalendar-event .dp-select-option__icon {
	display: flex;
	margin-left: 0.5rem;
}
.com-dpcalendar-event .dp-select-option__icon svg {
	width: 1rem;
	height: 1rem;
}
.com-dpcalendar-event .dp-select-option_selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.com-dpcalendar-event .dp-select_error {
	border: 3px solid #f5515c;
}
.com-dpcalendar-event .dp-table {
	display: block;
	width: 100%;
	border-collapse: collapse;
	empty-cells: show;
	overflow-x: auto;
	background-color: var(--body-bg, #fff);
	color: var(--body-color, #000);
}
.com-dpcalendar-event .dp-table caption {
	padding: 1em 0;
	color: #000;
	text-align: center;
}
.com-dpcalendar-event .dp-table td, .com-dpcalendar-event .dp-table th {
	overflow: visible;
	margin: 0;
	padding: 0.7em 1em;
	border-bottom: rgb(206, 206, 206) solid 1px;
	text-align: center;
	font-size: inherit;
}
.com-dpcalendar-event .dp-table__thead, .com-dpcalendar-event .dp-table thead {
	text-align: left;
	vertical-align: bottom;
}
.com-dpcalendar-event .dp-table .dp-cell-price {
	text-align: right;
}
@media screen and (width <= 767px) {
	.com-dpcalendar-event .dp-table,
	.com-dpcalendar-event .dp-table tbody:not(.dp-table__thead),
	.com-dpcalendar-event .dp-table th,
	.com-dpcalendar-event .dp-table td,
	.com-dpcalendar-event .dp-table tr {
		display: block;
		min-height: 3rem;
	}
	.com-dpcalendar-event .dp-table__thead,
	.com-dpcalendar-event .dp-table thead {
		display: none;
	}
	.com-dpcalendar-event .dp-table tr {
		margin: 0;
		padding: 0;
	}
	.com-dpcalendar-event .dp-table td {
		position: relative;
		padding-left: 50%;
		text-align: left;
	}
	.com-dpcalendar-event .dp-table td::before {
		content: attr(data-column);
		position: absolute;
		left: 0.5rem;
		padding-right: 0.5rem;
		font-weight: bold;
	}
	.com-dpcalendar-event .dp-table td,
	.com-dpcalendar-event .dp-table th {
		text-align: left !important;
		box-sizing: border-box;
	}
	.com-dpcalendar-event .dp-table td > div,
	.com-dpcalendar-event .dp-table th > div {
		text-align: left;
	}
}
.com-dpcalendar-event .dp-timezone {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.com-dpcalendar-event .dp-timezone > * {
	flex: 1;
}
.com-dpcalendar-event .dp-timezone__label {
	flex: 0;
	margin-right: 10px;
	font-weight: bold;
	white-space: nowrap;
}
.com-dpcalendar-event .dp-timezone__info {
	flex: 0 0 100%;
	margin: 0.2rem 0;
	padding: 1rem;
	background-color: rgb(200, 204, 208);
}
.com-dpcalendar-event .dp-timezone__info_hidden {
	display: none;
}
.com-dpcalendar-event .dp-map_consent {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border: 1px solid #b2b2b2;
	font-size: 2em;
	cursor: pointer;
}
@media print {
	.com-dpcalendar-event .dp-print-hide {
		display: none !important;
	}
	.com-dpcalendar-event a:link::after, .com-dpcalendar-event a:visited::after {
		display: none;
		content: "";
	}
	.com-dpcalendar-event dt {
		min-width: 150px;
		max-width: 150px;
		margin: 0 !important;
		padding: 0 !important;
		float: left !important;
	}
	.com-dpcalendar-event dd {
		max-width: 350px;
		margin: 0 0 0 5px !important;
		padding: 0 !important;
		float: left !important;
	}
}
.com-dpcalendar-event {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto auto auto 1fr;
}
.com-dpcalendar-event__taxes {
	grid-column: 1/4;
	grid-row: 1/2;
}
.com-dpcalendar-event__heading {
	grid-column: 1/4;
	grid-row: 2/3;
}
.com-dpcalendar-event__header {
	grid-column: 1/4;
	grid-row: 3/4;
}
.com-dpcalendar-event__image {
	grid-column: 1/3;
	grid-row: 4/5;
}
.com-dpcalendar-event__information {
	grid-column: 3/4;
	grid-row: 4/5;
}
.com-dpcalendar-event:not(.has-image) .com-dpcalendar-event__information {
	grid-column: 1/4;
}
.com-dpcalendar-event__actions {
	grid-column: 1/3;
	grid-row: 5/6;
}
.com-dpcalendar-event:not(.has-cta) .com-dpcalendar-event__actions {
	grid-column: 1/4;
}
.com-dpcalendar-event__cta {
	grid-column: 3/4;
	grid-row: 5/6;
}
.com-dpcalendar-event:not(.has-header) .com-dpcalendar-event__cta {
	grid-column: 1/4;
}
.com-dpcalendar-event__booking-form {
	grid-column: 1/4;
	grid-row: 6/7;
}
.com-dpcalendar-event__description {
	grid-column: 1/3;
	grid-row: 7/11;
}
.com-dpcalendar-event:not(.has-bookings, .has-series, .has-locations, .has-schedule) .com-dpcalendar-event__description {
	grid-column: 1/4;
}
.com-dpcalendar-event_small {
	grid-column: 3/4;
}
.com-dpcalendar-event:not(.has-description) .com-dpcalendar-event_small {
	grid-column: 1/4;
}
.com-dpcalendar-event__booking {
	grid-row: 7/8;
}
.com-dpcalendar-event__schedule {
	grid-row: 8/9;
}
.com-dpcalendar-event__series {
	grid-row: 9/10;
}
.com-dpcalendar-event__locations {
	grid-row: 10/11;
}
.com-dpcalendar-event__tickets {
	grid-column: 1/4;
	grid-row: 12/13;
}
.com-dpcalendar-event__custom-text-after {
	grid-column: 1/4;
	grid-row: 12/13;
}
.com-dpcalendar-event .dp-badge, .com-dpcalendar-event .com-dpcalendar-event__title_unpublished, .com-dpcalendar-event .com-dpcalendar-event__title_canceled {
	display: inline-block;
	padding: 0.25em;
	text-align: center;
	font-size: 70%;
	font-weight: 700;
	line-height: 1;
	border-radius: 0.2rem;
}
.com-dpcalendar-event .dp-badge_warning, .com-dpcalendar-event .com-dpcalendar-event__title_unpublished {
	background-color: #ffc107;
	color: #212529;
}
.com-dpcalendar-event .dp-badge_info, .com-dpcalendar-event .com-dpcalendar-event__title_canceled {
	background-color: #0dcaf0;
	color: #212529;
}
.com-dpcalendar-event .dp-toggle {
	cursor: pointer;
}
.com-dpcalendar-event .dp-toggle_hidden {
	display: none;
}
.com-dpcalendar-event__title {
	hyphens: auto;
}
.com-dpcalendar-event__title_canceled, .com-dpcalendar-event__title_unpublished {
	margin-left: 5px;
}
.com-dpcalendar-event__taxes.dp-info-box {
	margin: 0;
}
.com-dpcalendar-event__image, .com-dpcalendar-event__information {
	background-color: rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.com-dpcalendar-event .dp-figure {
	width: 100%;
}
.com-dpcalendar-event .dp-figure__caption {
	padding: 3px 1rem;
}
.com-dpcalendar-event__image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.com-dpcalendar-event__image .dp-figure {
	width: 100%;
	height: 100%;
}
.com-dpcalendar-event__image .dp-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.com-dpcalendar-event__information .dp-link, .com-dpcalendar-event__cta .dp-link {
	word-wrap: break-word;
}
.com-dpcalendar-event__information .dp-locations, .com-dpcalendar-event__cta .dp-locations {
	display: flex;
	flex-wrap: wrap;
}
.com-dpcalendar-event__information .dp-location, .com-dpcalendar-event__cta .dp-location {
	display: inline-flex;
}
.com-dpcalendar-event__information .dp-location__separator, .com-dpcalendar-event__cta .dp-location__separator {
	margin-right: 5px;
}
.com-dpcalendar-event__information {
	overflow: auto;
}
.com-dpcalendar-event__cta_disabled {
	font-style: italic;
}
.com-dpcalendar-event .com-dpcalendar-bookingform__actions .dp-button-cancel,
.com-dpcalendar-event .com-dpcalendar-bookingform__events .dp-heading,
.com-dpcalendar-event .com-dpcalendar-bookingform__series {
	display: none;
}
.com-dpcalendar-event__information, .com-dpcalendar-event__actions, .com-dpcalendar-event__cta, .com-dpcalendar-event__description, .com-dpcalendar-event_small {
	padding: 1rem;
}
.com-dpcalendar-event:not(.has-bookingform) .com-dpcalendar-event__actions, .com-dpcalendar-event:not(.has-bookingform) .com-dpcalendar-event__cta, .com-dpcalendar-event__booking-form {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}
.com-dpcalendar-event_small + .com-dpcalendar-event_small {
	padding-top: 0;
}
.com-dpcalendar-event__locations .dp-map {
	width: 100%;
	height: 200px;
}
.com-dpcalendar-event__booking .dp-event-price__regular_has-discount {
	text-decoration: line-through;
}
.com-dpcalendar-event__booking .dp-event-price__discount {
	margin-left: 10px;
	font-weight: bold;
}
.com-dpcalendar-event__booking .dp-event-price__description {
	margin-left: 5px;
}
.com-dpcalendar-event .dp-button-bar {
	margin-bottom: 0;
}
.com-dpcalendar-event .dp-booking-info__end-date {
	padding: 0 10px;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	opacity: 0.7;
}
.com-dpcalendar-event .dp-button {
	margin-right: 3px;
}
.com-dpcalendar-event .dp-button_cta {
	display: block;
	width: 100%;
	padding: 6px 1rem;
	background-color: #2D9EDE;
	color: #000;
	border: 0;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	box-shadow: none;
	box-sizing: border-box;
	white-space: normal;
	letter-spacing: 2px;
}
.com-dpcalendar-event .dp-button_cta *::before {
	color: #fff;
}
.com-dpcalendar-event__actions .dp-button {
	margin-bottom: 0.5em;
}
.com-dpcalendar-event .dp-event-cta__end-date {
	padding: 0 1rem;
	text-align: center;
	font-size: 0.75em;
	font-weight: bold;
	opacity: 0.7;
}
.com-dpcalendar-event .dp-event-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.com-dpcalendar-event .dp-schedule-list__item {
	position: relative;
	padding: 0.9em 1.2em;
	/* stylelint-disable-next-line color-function-notation */
	color: rgba(0, 0, 0, 0.7);
	border-left: 2px solid #c0c0c0;
}
.com-dpcalendar-event .dp-schedule-list__item::after {
	display: block;
	position: absolute;
	top: 1em;
	left: -7px;
	width: 10px;
	height: 10px;
	border: 2px solid #c0c0c0;
	border-radius: 10px;
	content: "";
	background: #fff;
}
.com-dpcalendar-event .dp-schedule-list__item:last-child {
	border-image: linear-gradient(to bottom, #c0c0c0 60%, rgba(192, 192, 192, 0)) 1 100%;
}
.com-dpcalendar-event .dp-schedule-list__item .dp-schedule__duration {
	font-style: italic;
}
@media screen and (width <= 767px) {
	.com-dpcalendar-event {
		display: block;
	}
	.com-dpcalendar-event > div:not(.com-dpcalendar-event__image),
	.com-dpcalendar-event .dp-figure__caption {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.com-dpcalendar-event__description + .com-dpcalendar-event_small {
		padding-top: 0;
	}
	.com-dpcalendar-event .dp-description__label {
		float: none;
		width: 100%;
	}
	.com-dpcalendar-event .dp-description__description {
		margin-left: 0;
	}
}

/*# sourceMappingURL=default.css.map */