.com-dpcalendar-event-mailtickets .dp-button-bar {
	margin-bottom: 10px;
}
.com-dpcalendar-event-mailtickets .dp-button {
	display: inline-block;
	padding: 4px 10px;
	background-color: #fefefe;
	color: #212529;
	border: 1px solid #c0c0c0;
	text-align: center;
	font-weight: 400;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	border-radius: 0.2rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.com-dpcalendar-event-mailtickets .dp-button:disabled,
.com-dpcalendar-event-mailtickets .dp-button[disabled] {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}
.com-dpcalendar-event-mailtickets .dp-icon svg {
	fill: currentcolor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}
@media screen and (width <= 640px) {
	.com-dpcalendar-event-mailtickets .dp-control, .com-dpcalendar-event-mailtickets .control-group {
		/* stylelint-disable-next-line selector-class-pattern */
		/* stylelint-disable-next-line selector-class-pattern */
	}
	.com-dpcalendar-event-mailtickets .dp-control__label, .com-dpcalendar-event-mailtickets .control-group .control-label,
	.com-dpcalendar-event-mailtickets .control-group .form-label, .com-dpcalendar-event-mailtickets .dp-control__input, .com-dpcalendar-event-mailtickets .control-group .controls,
	.com-dpcalendar-event-mailtickets .control-group .form-control {
		width: 100%;
		margin-left: 0;
	}
	.com-dpcalendar-event-mailtickets .dp-control:not(.dp-control_hidden), .com-dpcalendar-event-mailtickets .control-group:not(.dp-control_hidden) {
		display: block;
	}
	.com-dpcalendar-event-mailtickets .dp-control .control-group:not(.dp-control_hidden), .com-dpcalendar-event-mailtickets .control-group .control-group:not(.dp-control_hidden) {
		display: block;
	}
	.com-dpcalendar-event-mailtickets .dp-control .control-label, .com-dpcalendar-event-mailtickets .control-group .control-label,
	.com-dpcalendar-event-mailtickets .dp-control .controls,
	.com-dpcalendar-event-mailtickets .control-group .controls {
		width: 100%;
		margin-left: 0;
	}
}
.com-dpcalendar-event-mailtickets .dp-control, .com-dpcalendar-event-mailtickets .control-group {
	display: flex;
	margin-bottom: 5px;
}
.com-dpcalendar-event-mailtickets .dp-control__label, .com-dpcalendar-event-mailtickets .control-group .control-label,
.com-dpcalendar-event-mailtickets .control-group .form-label {
	flex: 0 0 20%;
	padding-top: 5px;
	text-align: left;
}
.com-dpcalendar-event-mailtickets .dp-control__input, .com-dpcalendar-event-mailtickets .control-group .controls,
.com-dpcalendar-event-mailtickets .control-group .form-control {
	flex: 1 1 80%;
}
.com-dpcalendar-event-mailtickets .dp-control_hidden {
	display: none;
}
.com-dpcalendar-event-mailtickets .dp-select {
	width: 100%;
	border: 1px solid #ccc;
}
.com-dpcalendar-event-mailtickets .dp-select-element {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	border: 0 !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
}
.com-dpcalendar-event-mailtickets .dp-select-container {
	position: relative;
	width: 100%;
}
.com-dpcalendar-event-mailtickets .dp-select-container__options {
	z-index: 10001;
	width: 100%;
	max-height: 300px;
	overflow: hidden scroll;
	padding: 0;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.16);
	background: #fff;
	border-radius: 4px;
	opacity: 0;
	pointer-events: none;
	transition: 300ms ease-in-out;
}
.com-dpcalendar-event-mailtickets .dp-select-container__options.open {
	opacity: 1;
	pointer-events: all;
}
.com-dpcalendar-event-mailtickets .dp-select-container__options-selected {
	display: inline-flex;
	flex-wrap: wrap;
	row-gap: 0.5rem;
}
.com-dpcalendar-event-mailtickets .dp-select-container__handler {
	width: 100%;
}
.com-dpcalendar-event-mailtickets .dp-select-container_unstyled, .com-dpcalendar-event-mailtickets .dp-select-container__input_unstyled {
	display: block;
	width: 100%;
	padding: 0.2rem;
	border: 1px solid #ced4da;
	background: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}
.com-dpcalendar-event-mailtickets .dp-select-input {
	display: inline-block !important;
	width: 1ch;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	box-sizing: content-box !important;
	outline: none !important;
}
.com-dpcalendar-event-mailtickets .dp-select-input:disabled {
	cursor: not-allowed;
}
.com-dpcalendar-event-mailtickets .dp-select-input:focus-visible {
	color: inherit;
	box-shadow: none;
}
.com-dpcalendar-event-mailtickets .dp-select-option {
	position: relative;
	padding: 0.2rem 1rem;
	cursor: pointer;
	line-height: initial;
}
.com-dpcalendar-event-mailtickets .dp-select-option-group__label {
	display: block;
	margin: 0.2rem 0;
	padding: 0.2rem 0.5rem;
	border-bottom: 1px solid #cecece;
	font-weight: bold;
}
.com-dpcalendar-event-mailtickets .dp-select-option[data-selected=true], .com-dpcalendar-event-mailtickets .dp-select-option:hover {
	background: #ddd;
}
.com-dpcalendar-event-mailtickets .dp-select-option[data-disabled=true] {
	background: #fff;
	color: #999;
	cursor: not-allowed;
}
.com-dpcalendar-event-mailtickets .dp-select-option-input {
	cursor: pointer;
}
.com-dpcalendar-event-mailtickets .dp-select-option[data-selected=true] {
	display: inline-flex;
	align-items: center;
	margin-right: 0.5rem;
}
.com-dpcalendar-event-mailtickets .dp-select-option__icon {
	display: flex;
	margin-left: 0.5rem;
}
.com-dpcalendar-event-mailtickets .dp-select-option__icon svg {
	width: 1rem;
	height: 1rem;
}
.com-dpcalendar-event-mailtickets .dp-select-option_selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.com-dpcalendar-event-mailtickets .dp-select_error {
	border: 3px solid #f5515c;
}
.com-dpcalendar-event-mailtickets .dp-timezone {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.com-dpcalendar-event-mailtickets .dp-timezone > * {
	flex: 1;
}
.com-dpcalendar-event-mailtickets .dp-timezone__label {
	flex: 0;
	margin-right: 1rem;
	font-weight: bold;
	white-space: nowrap;
}
.com-dpcalendar-event-mailtickets .dp-timezone__info {
	flex: 0 0 100%;
	margin-top: 0.2rem;
	padding: 1rem;
	background-color: rgb(200, 204, 208);
}
.com-dpcalendar-event-mailtickets .dp-timezone__info_hidden {
	display: none;
}
.com-dpcalendar-event-mailtickets__actions {
	margin-top: 2rem;
}
.com-dpcalendar-event-mailtickets label {
	cursor: pointer;
}

/*# sourceMappingURL=mailtickets.css.map */