.com-dpcalendar-cpanel .dp-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.com-dpcalendar-cpanel .dp-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
	vertical-align: -2px;
}

.com-dpcalendar-cpanel .dp-quick-icon {
	flex: 1 0 150px;
	width: 100%;
	max-width: 150px;
	margin: .5rem;
	text-align: center;
	font-size: 0.9em;
}

.com-dpcalendar-cpanel .dp-quick-icon .dp-icon {
	display: block;
}

.com-dpcalendar-cpanel .dp-quick-icon .dp-icon svg {
	fill: #2fa4e7;
	font-size: 2rem;
	min-height: 4rem;
}

.com-dpcalendar-cpanel .dp-quick-icon__link {
	display: block;
	height: 100%;
	min-width: 100px;
	box-sizing: border-box;
	padding: 14px 5px 11px;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(52, 58, 67, 0.1), 0 2px 5px rgba(52, 58, 67, 0.08), 0 5px 15px rgba(52, 58, 67, 0.08);
	border: 1px solid rgba(0, 0, 0, 0.02);
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	transition-property: none;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: bold;
	transition: all 0.3s ease;
}

.com-dpcalendar-cpanel .dp-quick-icon__link:hover, .com-dpcalendar-cpanel .dp-quick-icon__link:focus, .com-dpcalendar-cpanel .dp-quick-icon__link:active {
	color: #fff;
	background-color: #2fa4e7;
}

.com-dpcalendar-cpanel .dp-quick-icon__link:hover .dp-icon svg, .com-dpcalendar-cpanel .dp-quick-icon__link:focus .dp-icon svg, .com-dpcalendar-cpanel .dp-quick-icon__link:active .dp-icon svg {
	fill: #fff;
}

@media screen and (max-width: 767px) {
	.com-dpcalendar-cpanel .dp-quick-icon {
		max-width: none;
	}
	.com-dpcalendar-cpanel .dp-quick-icon .dp-icon {
		display: inline-block;
	}
	.com-dpcalendar-cpanel .dp-quick-icon .dp-icon svg {
		font-size: 1rem;
		min-height: auto;
	}
}

.com-dpcalendar-cpanel__boxes {
	margin-bottom: 16px;
}

.com-dpcalendar-cpanel__box {
	display: grid;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(52, 58, 67, 0.1), 0 2px 5px rgba(52, 58, 67, 0.08), 0 5px 15px rgba(52, 58, 67, 0.08);
}

.com-dpcalendar-cpanel__box .dp-heading {
	background: #2D9EDE;
	margin: 0;
	padding: 13px 16px;
	color: #000000;
	font-size: 18px;
}

.com-dpcalendar-cpanel__icons {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 -0.5rem;
	font-size: 1rem;
}

.com-dpcalendar-cpanel__welcome {
	padding: 16px;
}

.com-dpcalendar-cpanel__event {
	border-bottom: 1px solid #ddd;
	padding: 7px 0;
}

.com-dpcalendar-cpanel__event > .dp-link {
	display: block;
	margin-bottom: 2px;
}

.com-dpcalendar-cpanel__event:last-child {
	border-bottom: none;
}

.com-dpcalendar-cpanel__footer {
	padding: 20px;
	text-align: center;
}

.com-dpcalendar-cpanel .dp-information-container {
	padding: 8px 16px;
}

.com-dpcalendar-cpanel .dp-information-container .dp-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

.com-dpcalendar-cpanel .dp-information__label, .com-dpcalendar-cpanel .dp-information__content {
	padding: 2px 0;
}

/*# sourceMappingURL=default.css.map */
