@media print {
	.dp-print-hide {
		display: none !important;
	}

	a:link:after, a:visited:after {
		display: none;
		content: "";
	}

	dt {
		float: left !important;
		margin: 0 !important;
		padding: 0 !important;
		max-width: 150px;
		min-width: 150px
	}

	dd {
		float: left !important;
		margin: 0 0 0 5px !important;
		padding: 0 !important;
		max-width: 350px
	}
}
