.com-dpcalendar-adminlist {
	@import "../../layouts/block/table";

	&__filterbar {
		float: left;
		height: inherit !important;
		margin-right: 5px;
	}

	.dp-table {
		border: 0;

		&__col-expand {
			width: 30%;
		}

		&__col-state,
		&__col-check,
		&__col-order {
			width: 1%;
		}

		& td, & th {
			text-align: left;
			border-left: 0;
		}

		& tfoot tr td {
			background-color: inherit !important;
			border-bottom: 0;
		}
	}

	&-modal {
		.dp-link {
			cursor: pointer;
		}
	}

	.modal-body {
		padding: 20px;
	}

	&__footer {
		padding: 20px;
		text-align: center;
	}

	// Events list specific
	.dp-events-table {
		&__col-color {
			width: 1%;
		}

		&__col-date {
			width: 20%;
		}

		&__col-color {
			min-height: 60px;
		}

		.dp-event {
			&__color {
				padding: 5px;
			}
		}
	}
}

@import "../../vendor/pikaday";
