@import "../../../com_dpcalendar/media/scss/layouts/block/figure";
@import "../../../com_dpcalendar/media/scss/layouts/block/icon";
@import "../../../com_dpcalendar/media/scss/misc/variables";

& {
	clear: both;
	overflow: overlay;
}

&__event {
	display: block;
	overflow: hidden;

	+ div {
		margin-top: .7rem;
	}
}

&__group {
	margin-bottom: 1rem;
}

&__heading {
	&.dp-group-heading {
		font-weight: bold;
		background-color: rgba(0, 0, 0, .05);
		padding: .5rem .7rem;
		margin-bottom: .7rem;

		~ div {
			margin-left: .7rem;
			margin-right: .7rem;
		}
	}
}

.dp-link_cta {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;

	&.dp-button {
		background-color: $dpColor;
		font-weight: bold;
		text-transform: uppercase;
		color: #000000;
		border: 0;
	}
}

&__date {
	font-style: italic;
	padding: 2px 0;
}

&__rrule, &__price {
	font-style: italic;
	padding: 2px 0;
}


.dp-figure {
	width: 100%;

	.dp-image {
		width: 100%;
		object-fit: cover;
		height: 100px;
	}

	&__caption {
		opacity: .7;
	}
}
