.mod-dpcalendar-upcoming-blog {
	$minColumnSize: 100px !default;
	@import "base";
	@import "../../../com_dpcalendar/media/scss/layouts/block/icon";
	@import "../../../com_dpcalendar/media/scss/layouts/block/figure";
	@import "../../../com_dpcalendar/media/scss/layouts/block/grid";

	&__heading {
		margin: 0 0 12px;
	}

	&__date, &__rrule {
		font-weight: inherit;
		display: inline-block;
	}

	&__date:after {
		content: '\a';
		white-space: pre;
	}

	.dp-date, .dp-time {
		&__start,
		&__end {
			font-weight: normal;
			opacity: 1;
		}
	}

	&__calendar,
	&__capacity,
	&__price,
	&__location {
		display: block;
	}

	.dp-location__description {
		display: none
	}
}
