.mod-dpcalendar-upcoming-horizontal {
	@import "base";
	@import "../../../com_dpcalendar/media/scss/layouts/block/flatcalendar";
	@import "../../../com_dpcalendar/media/scss/layouts/block/figure";

	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;

	&__group,
	> .mod-dpcalendar-upcoming-horizontal__event {
		flex: 1 1 200px;
		position: relative;
		margin: 5px;
	}

	&__group-heading.dp-group-heading {
		font-size: .9rem;
		background-color: rgba(0, 0, 0, 0.05);
		color: #333333;
		padding: 8px 15px;
		margin-bottom: 15px;
	}

	&__information {
		min-height: 3.7em;
	}
}
