.mod-dpcalendar-upcoming-panel {
	@import "base";

	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;

	&__group,
	> .mod-dpcalendar-upcoming-panel__event {
		flex: 1 1 200px;
		position: relative;
		margin: 5px;
	}

	&__event {
		background-color: #fff;
		box-shadow: 0 0 2px rgba(52, 58, 67, 0.1), 0 2px 5px rgba(52, 58, 67, 0.08), 0 5px 15px rgba(52, 58, 67, 0.08);
	}

	&__information {
		padding: .7rem;
	}

	&__heading {
		.dp-group-heading ~ div {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@import "../../../com_dpcalendar/media/scss/layouts/block/figure";
}
