.com-dpcalendar-tools-import {
	&__filters {
		width: 100%;
		margin-bottom: 10px;

		div[class^="dp-filter__"] {
			display: inline-block;
			margin-right: 10px;
		}
	}

	&__plugins {
		width: 100%;
	}

	&__footer {
		padding: 20px;
		text-align: center;
	}
}
