.com-dpcalendar-tools-patch {
	.dp-revert {
		display: flex;
		align-items: center;
		margin: 20px 0;
	}

	.dp-input-checkbox {
		// Checkbox position
		width: unset;
		float: left;
		margin-right: 10px;

		// Checkbox styling
		-webkit-appearance: none;
		-moz-appearance: none;

		position: relative;
		width: 1.4em;
		height: 1.4em;
		border: 1px solid #ccc;
		/* Adjusts the position of the checkboxes on the text baseline */
		vertical-align: -2px;
		/* Set here so that Windows' High-Contrast Mode can override */
		color: green;

		&::before {
			content: "✔";
			position: absolute;
			font-size: 1.2em;
			right: 0;
			top: -0.05em;
			visibility: hidden;
		}

		&:checked::before {
			/* Use `visibility` instead of `display` to avoid recalculating layout */
			visibility: visible;
		}

		&:disabled {
			border-color: black;
			background: #ddd;
			color: gray;
		}
	}

	&__footer {
		padding: 20px;
		text-align: center;
	}
}
