.com-dpcalendar-translate {
	@import "../../layouts/block/table";
	@import "../../layouts/block/button";

	.dp-resource {
		&__name {
			width: 100%;
			text-align: left !important;
		}

		&_success {
			color: #155724;
			background-color: #d4edda;
			border-color: #c3e6cb;
		}

		&_important {
			color: #721c24;
			background-color: #f8d7da;
			border-color: #f5c6cb;
		}

		&_warning {
			color: #856404;
			background-color: #fff3cd;
			border-color: #ffeeba;
		}

		&_info {
			color: #0c5460;
			background-color: #d1ecf1;
			border-color: #bee5eb;
		}
	}

	&__footer {
		text-align: center;
	}

	.dp-table td {
		@media screen and (max-width: 767px) {
			padding-left: 1em;
		}
	}
}
